{{ define "main" }}
<article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
    {{ .Content }}
</article>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<style>
    * {
        box-sizing: border-box;
    }

    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    font,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        vertical-align: baseline;
        background: transparent;
    }

    div {
        display: block;
    }

    body {
        font-family: "Prime regular", Arial, sans-serif !important;
        color: black !important;
        background-color: #fff;
        line-height: 1.7em;
        font-weight: 500;
        -webkit-font-smoothing: antialiased;
    }

    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    @media (max-width: 680px) {
        .my_b_row {
            padding: 0px;
        }
    }
    @media (max-width: 980px) {
        .my_b_column {
            width: 100%;
            margin-bottom: 30px;
        }
        .my_b_column_0, .my_b_column_1,.my_b_column_2,.my_b_column_3,.my_b_column_4,.my_b_column_5
        {
        padding-right:5.5%;
        }
        .my_b_fullwidth_section {
            padding: 0;
        }
        .my_b_column .my_b_module {
            margin-bottom: 30px;
        }
        .my_b_section {
            padding: 50px 0;
        }
        .my_b_column .my_b_module {
            margin-bottom: 30px;
        }
    }

    @media (min-width: 981px) {
        .et_pb_row {
            padding: 2% 0;
        }
        .my_b_column_0, .my_b_column_1,.my_b_column_2,.my_b_column_3,.my_b_column_4,.my_b_column_5
            {
                padding-right:5.5%;
            }
            .my_b_row {
                            padding: 2% 0;
                        }
    }

    .my_b_section_0.my_b_section {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .my_b_slider .my_b_slide,
    .my_b_section {
        background-position: center;
        background-size: 100%;
        background-size: cover;
    }

    .my_b_fullwidth_section {
        padding: 0;
    }

    .my_b_section {
        position: relative;
        background-color: #FFF;
    }

    .my_b_column {
        /*float: left;*/
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 2;
        min-height: 1px;
    }

    .my_b_text_0 {
        font-family: 'Open Sans', Helvmyica, Arial, Lucida, sans-serif;
        font-size: 16px;
        line-height: 1.8em;
    }

    .my_b_text> :last-child {
        padding-bottom: 0;
    }

    .my_b_text_inner {
        position: relative;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #333;
        padding-bottom: 10px;
        line-height: 1em;
        font-weight: 500;
        /*text-align:left;*/
        padding-top: 20px;
    }

    h3 {
        font-size: 22px;
    }

    p:not(.has-background):last-of-type {
        padding-bottom: 0;
    }

    .my_b_text_0 h3 {
        font-family: 'Share Tech', Helvmyica, Arial, Lucida, sans-serif;
        font-size: 24px;
        line-height: 1.6em;
    }

    .my_b_text_0 p {
        line-height: 1.8em;
    }

    p {
        padding-bottom: 1em;
    }

    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    h3 {
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    .my_b_gallery_item,
    .my_b_portfolio_item,
    .my_b_blurb_content,
    .my_b_tabs_controls,
    .my_b_tab,
    .my_b_slide_description,
    .my_b_pricing_heading,
    .my_b_pricing_content,
    .my_b_promo_description,
    .my_b_newslmyter_description,
    .my_b_counter_title,
    .my_b_circle_counter,
    .my_b_number_counter,
    .my_b_toggle_title,
    .my_b_toggle_content,
    .my_b_contact_main_title,
    .my_b_testimonial_description_inner,
    .my_b_team_member,
    .my_b_countdown_timer_container,
    .my_b_post,
    .my_b_text,
    .product,
    .my_b_widgmy,
    .my_b_wc_additional_info,
    .my_b_wc_breadcrumb,
    .my_b_wc_title,
    .my_b_wc_stock,
    .my_b_wc_rating,
    .my_b_wc_price,
    .my_b_wc_mmya,
    .my_b_wc_description,
    .my_b_wc_add_to_cart {
        word-wrap: break-word;
    }

    .my_b_text_align_left {
        text-align: left;
    }

    .my_b_module {
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    div {
        display: block;
    }

    .com_section_classs {
        position: relative;
        background-color: #FFF;
        background-position: center;
        background-size: 100%;
        background-size: cover;
    }

    .row_1_p_text {
        font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
        font-size: 16px;
        line-height: 1.8em;
        margin-top: 1em !important;
        padding: 5% 15% 10% 15%;
        font-weight: normal;
    }

    .row_1_p_text p {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;

    }

    pb_row {
        width: 80%;
        max-width: 1080px;
        margin: auto;
        position: relative;
    }

    .my_b_accordion.my_b_text_align_left h5.my_b_toggle_title,
    .my_b_accordion.my_b_text_align_left .my_b_toggle_title,
    .my_b_accordion .my_b_toggle.my_b_text_align_left h5.my_b_toggle_title,
    .my_b_accordion .my_b_toggle.my_b_text_align_left .my_b_toggle_title,
    .my_b_toggle.my_b_text_align_left h5.my_b_toggle_title,
    .my_b_toggle.my_b_text_align_left .my_b_toggle_title,
    .my_b_toggle h5.my_b_toggle_title,
    .my_b_toggle .my_b_toggle_title {
        cursor: pointer;
        position: relative;
        padding: 0 50px 0 0;
    }

    html,
    body,
    div,
    span,
    applmy,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    font,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldsmy,
    form,
    label,
    legend {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        vertical-align: baseline;
        background: transparent;
    }

    .my_b_posts_nav a,
    .my_b_row,
    .my_b_row_inner,
    .my_b_column,
    .my_b_module,
    .my_b_counters .my_b_counter_container,
    .my_b_portfolio_item,
    .my_b_pricing_table,
    .my_b_all_tabs,
    .my_b_tab,
    .my_b_slide,
    .my_b_with_background {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .my_b_slider .my_b_slide,
    ._b_section {
        background-position: center;
        background-size: 100%;
        background-size: cover;
    }

    div {
        display: block;
    }

    body {
        font-family: "Prime regular", Arial, sans-serif !important;
        color: black !important;
        background-color: #fff;
        line-height: 1.7em;
        font-weight: 500;
        -wemykit-font-smoothing: antialiased;
    }

    .my_b_blurb_0.my_b_blurb {
        font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
        font-size: 16px;
        line-height: 1.8em;
        background-color: #ff8a3d;
        padding-top: 40px !important;
        padding-right: 30px !important;
        padding-bottom: 40px !important;
        padding-left: 30px !important;
        margin-bottom: 0px !important;
    }

    .my_b_with_border.my_b_blurb_3.my_b_blurb {
        font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
        font-size: 16px;
        line-height: 1.8em;
        background-color: #fff;
        border-color: rgba(21, 49, 78, 0.17);
        border-style: solid;
        padding-top: 40px !important;
        padding-right: 30px !important;
        padding-bottom: 40px !important;
        padding-left: 30px !important;
        margin-bottom: 0px !important;
    }

    .my_b_button_0 {
        color: #004675 !important;
        border-width: 0px !important;
        border-radius: 0px;
        letter-spacing: 4px;
        font-size: 11px;
        font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important;
        font-weight: 700 !important;
        text-transform: uppercase !important;
        background-color: #f1f1f1;
    }

    .et_pb_button_1 {
        color: #004675 !important;
        border-width: 0px !important;
        border-radius: 0px;
        letter-spacing: 4px;
        font-size: 11px;
        font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important;
        font-weight: 700 !important;
        text-transform: uppercase !important;
        background-color: #f1f1f1;
    }

    .my_b_button_0_wrapper .my_b_button_0,
    .my_b_button_0_wrapper .my_b_button_0:hover {
        padding-top: 10px !important;
        padding-right: 20px !important;
        padding-bottom: 10px !important;
        padding-left: 10px !important;
    }

    .my_b_blurb_1.my_b_blurb {
        font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
        font-size: 16px;
        line-height: 1.8em;
        background-color: #f1f1f1;
        padding-top: 40px !important;
        padding-right: 30px !important;
        padding-bottom: 40px !important;
        padding-left: 30px !important;
        margin-bottom: 0px !important;
    }

    .my_b_blurb_2.my_b_blurb {
        font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
        font-size: 16px;
        line-height: 1.8em;
        background-color: #ffffff;
        border-width: 1px;
        border-color: rgba(21, 49, 78, 0.17);
        border-style: solid;
        padding-top: 40px !important;
        padding-right: 30px !important;
        padding-bottom: 40px !important;
        padding-left: 30px !important;
        margin-bottom: 0px !important;
    }

    .my_b_blurb_4.my_b_blurb {
        font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
        font-size: 16px;
        line-height: 1.8em;
        background-color: #15314e;
        padding-top: 40px !important;
        padding-right: 30px !important;
        padding-bottom: 40px !important;
        padding-left: 30px !important;
        margin-bottom: 0px !important;
    }

    .my_b_blurb_5.my_b_blurb {
        font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
        font-size: 16px;
        line-height: 1.8em;
        background-color: #ffa727;
        padding-top: 40px !important;
        padding-right: 30px !important;
        padding-bottom: 40px !important;
        padding-left: 30px !important;
        margin-bottom: 0px !important;

    }

    .my_b_blurb_position_left .my_b_main_blurb_image img,
    .my_b_blurb_position_right .my_b_main_blurb_image img {
        width: inherit !important;
    }

    .my_b_row {
        width: 100%;
        max-width: 1080px;
        margin: auto;
        position: relative;

    }

    img {
        max-width: 100% !important;
        height: auto !important;
        vertical-align: middle !important;
        border-style: none !important;
    }

    .my_b_animation_off,
    .my-waypoint.my_b_animation_off {
        opacity: 1;
    }

    span {
        margin-top: 20px;
    }

    .contactus_section4 {
        background-color: #fff;
    }

    .table td,
    .table th {
        text-align: left;
        border-top: none !important;
    }

    .contact_row {
        padding-top: 8%;
        padding-bottom: 8%;
    }

    .et_pb_section_1.et_pb_section {
        padding-top: 100px;
        padding-right: 0px;
        padding-bottom: 54px;
        padding-left: 0px;
        background-color: #fff;
    }

    .et_pb_row {
        width: 80%;
        max-width: 1080px;
        margin: auto;
        position: relative;
    }

    .my_b_blurb_container {
        padding-top: 20px;
    }

    .services_section {
        padding: 5%;

    }

    .my_b_text_1.my_b_text {
        color: rgba(0, 0, 0, 0.02) !important;
    }

    .my_b_text_align_center {
        text-align: center !important;
    }

    .my_b_text {
        word-wrap: break-word;
    }

    .my_b_inner_text {
        position: relative;
        background: transparent;
        display: block;
        font-size: 100%;
        background-color: #fff;
        font-weight: 500;
        -webkit-font-smoothing: antialiased;
        padding-bottom: 0;
        font-family: 'Share Tech', Helvetica, Arial, Lucida, sans-serif;
        font-size: 100px;
        line-height: 0.2em;
        color: rgba(0, 0, 0, 0.02) !important;
        padding-top: 13%;
        height: 40%;
    }

    .my_b_text_1 p {
        line-height: 0.2em;
    }

    .my_b_text_1 h2 {
        font-family: 'Share Tech', Helvetica, Arial, Lucida, sans-serif;
        font-size: 48px;

    }

    .my_b_text_2 p {
        line-height: 1.8em;
    }

    .row_2 {
        position: relative;
        background: transparent;
        display: block;
        font-size: 100%;
        background-color: #fff;
        font-weight: 500;
        -webkit-font-smoothing: antialiased;
        padding-bottom: 0;
        font-family: 'Share Tech', Helvetica, Arial, Lucida, sans-serif;
        font-size: 100px;
        line-height: 0.2em;
        color: rgba(0, 0, 0, 0.02) !important;
        padding-top: 5%;
        height: 40%;
    }

    .why_choose_us {
        text-align: center;
        color: black;
        font-size: 16px !important;
        line-height: 1.8em;
        word-wrap: break-word;
        padding: 1% 10% 1% 10%;
    }

    .my_b_inner_text_2 {
        padding: 5% 10% 1% 10%;
    }

    .why_us_features_row_out {
        padding: 6% 0% 1% 0%
    }

    .et_pb_module_header {
        font-family: 'Share Tech', Helvetica, Arial, Lucida, sans-serif;
        font-size: 21px;
        line-height: 1.2em;
        text-align: center;
        color: black;
        font-weight: 400 !important;
    }

    .heading_div {
        padding-left: 16px;
    }

    /*contact us Css*/
    .contactus_section4 {
        background-color: #fff;
    }

    .et_pb_section_1.et_pb_section {
        padding-top: 100px;
        padding-right: 0px;
        padding-bottom: 54px;
        padding-left: 0px;
        background-color: #fff;
    }

    .contact_row {
        padding-top: 8%;
        padding-bottom: 8%;
    }

    .contact_main_title {
        word-wrap: break-word;
        font-family: 'Share Tech', Helvetica, Arial, Lucida, sans-serif;
        font-size: 48px;
    }

    form {
        overflow: hidden;
    }

    label {
        float: left;
        width: 200px;
        padding-right: 24px;
    }

    input {
        float: left;
        width: calc(80% - 80px);
    }

    button {
        float: right;

    }

    input[type=text],
    [type=textarea] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: none;
        box-sizing: border-box;
        border-bottom: 1px solid black;
    }

    .form_label {
        display: none;
    }

    label {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        vertical-align: baseline;
        background: transparent;

    }

    .contact_submit_button {
        position: relative;
        color: #ffffff !important;
        border-width: 10px !important;
        border-color: #ffa727;
        border-radius: 100px;
        letter-spacing: 5px;
        font-size: 15px;
        font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important;
        font-weight: 700 !important;
        text-transform: uppercase !important;
        background-color: #ffa727;
        border-image: none !important;
        border-style: solid !important;
    }

    label {
        cursor: default;
    }

    .contact_form {
        border-radius: 5px;
        background-color: #fff;
        padding: 20px;
    }

    .con_inner_heading {
        font-family: 'Share Tech', Helvetica, Arial, Lucida, sans-serif;
        font-size: 24px;
        color: #000000 !important;
        line-height: 1.2em;
        font-weight: 400;
    }

    .add_hrs_row {
        padding-top: 22%;
    }
    
</style>
<div class="container-fluid section1_abuspage com_section_classs my_b_section ">
    <div class="row row_1 pb_row">
        <div class="col-lg-12">
            <div class="container">
                <div class="row  my_b_row row_1_p_text pb_row ">
                    <p>We, at&nbsp;<a href="http://localhost:1313/">5S3S</a>, are passionate about transparency,
                        reliability, trust and outstanding customer care –
                        we aren’t happy with our creation until you are. We take tremendous care of your needs. We
                        understand your
                        business goals and deliver according to your business values.</p>
                    <p>We do that by taking enormous care of our people – talented web design specialists who know how
                        to create your online success.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--section1_abuspage-->
<!--SECOND SECTION-->
<div class=" container-fluid my_b_section  my_b_section_1 my_section_regular ">

    <div class="row my_b_row my_pb_row_0">
        <div class="col-lg-4 my_b_column my_b_column_1_3 my_b_column_0  my_b_css_mix_blend_mode_passthrough">
            <div class="row my_b_module my_b_blurb my_b_blurb_0  my_b_text_align_left  my_b_blurb_position_left my_b_bg_layout_dark my_had_animation">
                <div class="row my_b_blurb_content">
                    <div class="col-sm-3 my_b_main_blurb_image"><span class="my_b_image_wrap"><img
                                src="
        https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/design-230x230-1.png" alt=""
                                srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/design-230x230-1.png 
        230w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/design-230x230-1-150x150.png 150w"
                                sizes="(max-width: 230px) 100vw, 230px"
                                class="-waypoint my_b_animation_off my-animated"></span></div>
                    <div class="col-sm-9 my_b_blurb_container">
                        <h4 class="my_b_module_header" style="color:#fff;"><span>Web Design</span></h4>

                    </div>
                </div> <!-- .my_b_blurb_content -->
            </div> <!-- .my_b_blurb -->
        </div> <!-- .et_pb_column -->
        <div class="col-lg-4 my_b_column my_b_column_1_3 my_b_column_1  my_b_css_mix_blend_mode_passthrough">

            <div class="row my_b_module my_b_blurb my_b_blurb_1  my_b_text_align_left  my_b_blurb_position_left my_b_bg_layout_light my_had_animation">
                <div class="row  my_b_blurb_content">
                    <div class="col-sm-3 my_b_main_blurb_image"><span class="my_b_image_wrap"><img
                                src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/other-icon-230x230-1.png"
                                alt="" srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/other-icon-230x230-1.png 
    230w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/other-icon-230x230-1-150x150.png 
    150w" sizes="(max-width: 230px) 100vw, 230px" class="my-waypoint my_b_animation_off my-animated"></span></div>
                        <div class="col-sm-9 my_b_blurb_container">
                            <h4 class="my_b_module_header"><span>Web Developement</span></h4>
                        </div>

                    
                </div> <!-- .my_b_blurb_content -->
            </div> <!-- .my_b_blurb -->

        </div> <!-- .my_b_column -->
        
            <div class="col-lg-4 my_b_column my_b_column_1_3 my_b_column_2  my_b_css_mix_blend_mode_passthrough my-last-child">
            <div class="row my_b_with_border  my_b_module my_b_blurb  my_b_blurb_2  my_b_text_align_left  my_b_blurb_position_left 
my_b_bg_layout_light my_had_animation">
                <div class="row my_b_blurb_content">
                    <div class="col-sm-3 my_b_main_blurb_image"><span class="my_b_image_wrap"><img
                                src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/maintainace-230x230-1.png"
                                alt=""
                                srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/maintainace-230x230-1.png 
    230w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/maintainace-230x230-1-150x150.png 150w"
                                sizes="(max-width: 230px) 100vw, 230px"
                                class="my-waypoint my_b_animation_off my-animated"></span></div>
                        <div class="col-sm-9 my_b_blurb_container">
                            <h4 class="my_b_module_header"><span>Web Maintenance</span></h4>
                        </div>

                    </div>
                </div> <!-- .my_b_blurb_content -->
            </div> <!-- .my_b_blurb -->

        </div> <!-- .my_b_column -->
    
    <div class="row my_b_row my_b_row_1">
        <div class="col-lg-4 my_b_column my_b_column_1_3 my_b_column_3  my_b_css_mix_blend_mode_passthrough">
            <div class="row my_b_with_border my_b_module my_b_blurb  my_b_blurb_3  my_b_text_align_left  
my_b_blurb_position_left my_b_bg_layout_light my_had_animation">
                <div class="row my_b_blurb_content">
                    <div class="col-sm-3 my_b_main_blurb_image"><span class="my_b_image_wrap">
                            <img src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/graphic-230-230px.png"
                                alt=""
                                srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/graphic-230-230px.png 230w,
     https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/graphic-230-230px-150x150.png 150w"
                                sizes="(max-width: 230px) 100vw, 230px"
                                class="my-waypoint my_b_animation_off my-animated"></span></div>
                    <div class="col-sm-9 my_b_blurb_container">
                        <h4 class="my_b_module_header"><span>Brand Identity</span></h4>
                    </div>
                </div> <!-- .my_b_blurb_content -->
            </div> <!-- .my_b_blurb -->

        </div> <!-- .my_b_column -->
        <div class="col-lg-4 my_b_column my_b_column_1_3 my_b_column_4  my_b_css_mix_blend_mode_passthrough">
            <div
                class="row my_b_module my_b_blurb my_b_blurb_4  my_b_text_align_left  my_b_blurb_position_left my_b_bg_layout_dark my_had_animation">
                <div class="row my_b_blurb_content">
                    <div class="col-sm-3 my_b_main_blurb_image">
                        <span class="my_b_image_wrap"><img
                                src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/mob-and-icon-grey-01-230.png"
                                alt=""
                                srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/mob-and-icon-grey-01-230.png 230w,
        https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/mob-and-icon-grey-01-230-150x150.png 150w"
                                sizes="(max-width: 230px) 100vw, 230px"
                                class="my-waypoint my_b_animation_off my-animated"></span></div>
                    <div class="col-sm-9 my_b_blurb_container">
                        <h4 class="my_b_module_header" style="color:#fff;"><span>Mobile Application</span></h4>
                    </div>
                </div> <!-- .my_b_blurb_content -->
            </div> <!-- .my_b_blurb -->

        </div> <!-- .my_b_column -->
        <div
            class="col-lg-4 my_b_column my_b_column_1_3 my_b_column_5  my_b_css_mix_blend_mode_passthrough my-last-child">
            <div
                class="row my_b_module my_b_blurb my_b_blurb_5  my_b_text_align_left  my_b_blurb_position_left my_b_bg_layout_dark my_had_animation">

                <div class="row et_pb_blurb_content">
                    <div class="col-sm-3 et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img
                                src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/digital-icon-230px.png"
                                alt=""
                                srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/digital-icon-230px.png 230w,
     https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/digital-icon-230px-150x150.png 150w"
                                sizes="(max-width: 230px) 100vw, 230px"
                                class="my-waypoint my_b_animation_off my-animated"></span></div>
                    <div class="col-sm-9 my_b_blurb_container">
                        <h4 class="my_b_module_header" style="color:#fff;"><span>Digital Marketing</span></h4>
                    </div>
                </div> <!-- .my_b_blurb_content -->
            </div> <!-- .my_b_blurb -->

        </div> <!-- .my_b_column -->
    </div> <!-- .my_b_row -->
</div>
</div> <!--section_1 ends here-->



<!-- Second section starts from here-->
<div class="container-fluid  section3_abuspage my_b_section">
    <div class="row my_b_row outer_row">
        <div class="col-lg-12 my_b_column section3_abuspage_col">
            <div class="row my_b_module my_b_text my_b_text_1 my_b_row my_b_text_align_center my_b_bg_layout_light">
                <div class="row my_b_row my_b_inner_text">
                    <p >Trust</p>
                    <h2>Why Choose Us</h2>
                </div>
                <!--my_b_inner_text-->
            </div>
            <div class="row row_2 my_b_module my_b_text my_b_text_2 my_b_row my_b_text_align_center my_b_bg_layout_light">
                <div class="row my_b_row my_b_inner_text_2">
                    <p class="why_choose_us">We work with care – by taking the time to understand your goals and your
                        business objectives. We are your partners, not just your ‘developers’ so you can rest assured
                        that we will work with you to design,
                        deliver and support high-performing web solutions that grant you a significant business
                        advantage.</p>

                </div>
                <!--my_b_inner_text_2-->
            </div>
            <!--row_2 -->
        </div>
        <!--section3_abuspage_col-->
        <div class="row my_b_row why_us_features_row_out row_first ">
            <div class="col-lg-12 my_b_column why_us_features_col_out">
                <div class="row  my_b_row  why_us_fea_row_in  ">
                    <div class="col-lg-4 my_b_column">
                        <div class="d-flex align-items-center">
                            <div class="d-inline-block"><span><i class='fas fa-check-circle'
                                        style='font-size:30px;color:#ffa727'></i></span></div>
                            <div class="d-inline-block heading_div">
                                <h4 class="et_pb_module_header"><span>1. Tell Us Your Vision</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 my_b_column">
                        <div class="d-flex align-items-center">
                            <div class="d-inline-block"><span><i class='fas fa-check-circle'
                                        style='font-size:30px;color: #ffa727'></i></span></div>
                            <div class="d-inline-block heading_div">
                                <h4 class="et_pb_module_header"><span>2. Discuss Available Options</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 my_b_column">
                        <div class="d-flex align-items-center">
                            <div class="d-inline-block"><i class='fas fa-check-circle'
                                    style='font-size:30px;color:#ffa727'></i></div>
                            <div class="d-inline-block heading_div">
                                <h4 class="et_pb_module_header"><span>3. Choose The Best Solution</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!--why_us_fea_row_in-->
            </div>
            <!--why_us_features_col_out>-->
        </div>
        <!--why_us_features_row_outs-->
        <div class="row my_b_row why_us_features_row_out row_first ">
            <div class="col-lg-12 my_b_column why_us_features_col_out">
                <div class="row  my_b_row  why_us_fea_row_in  ">
                    <div class="col-lg-6 my_b_column">
                        <div class="d-flex align-items-center">
                            <div class="d-inline-block"><span><i class='fas fa-check-circle'
                                        style='font-size:30px;color:#ffa727'></i></span></div>
                            <div class="cod-inline-block heading_div">
                                <h4 class="et_pb_module_header"><span>4. Define The Steps For Production</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 my_b_column">
                        <div class="d-flex align-items-cente">
                            <div class="d-inline-block"><span><i class='fas fa-check-circle'
                                        style='font-size:30px;color: #ffa727'></i></span></div>
                            <div class="d-inline-block heading_div">
                                <h4 class="et_pb_module_header"><span>5. Produce and Deliver The Product</span></h4>
                            </div>
                        </div>
                    </div>

                </div>
                <!--why_us_fea_row_in-->
            </div>
            <!--why_us_features_col_out>-->
        </div>
        <!--why_us_features_row_outs-->
        <div class="row row_make_different_mian">
            <div class="col-lg-12 my_b_column section3_abuspage_col">
                <div
                    class="row my_b_module my_b_text my_b_text_1 my_b_row my_b_text_align_center row_make_different_row">
                    <div class="row my_b_row my_b_inner_text">
                        <p style="text-align: center;">Trust</p>
                        <h2 style="text-align: center;">What make us different?</h2>
                    </div>
                    <!--my_b_inner_text-->
                </div>
                <div
                    class="row row_2 my_b_module my_b_text my_b_text_2 my_b_row my_b_text_align_center my_b_bg_layout_light">
                    <div class="row my_b_row my_b_inner_text_2">
                        <p class="why_choose_us">We believe that it is our talented, motivated and results-oriented team
                            makes the difference. We work entirely from our office and do not outsource. Quality is what
                            matters the most.
                            Whilst some agencies are all about great design and others offer quality development,
                            we strive to offer both.</p>

                    </div>
                    <!--my_b_inner_text_2-->
                </div>
                <!--row_2 -->
            </div>
            <!--section3_abuspage_col-->
        </div>
        <!--row_make_different_mian-->
        <div class="row my_b_row why_us_features_row_out row_first ">
            <div class="col-lg-12 my_b_column why_us_features_col_out">
                <div class="row  my_b_row  why_us_fea_row_in  ">
                    <div class="col-lg-4 my_b_column">
                        <div class="d-flex align-items-center">
                            <div class="d-inline-block"><span><i class='fas fa-check-circle'
                                        style='font-size:30px;color:#ffa727'></i></span></div>
                            <div class="cod-inline-block heading_div">
                                <h4 class="et_pb_module_header"><span>1. Draw your Future</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 my_b_column">
                        <div class="d-flex align-items-cente">
                            <div class="d-inline-block"><span><i class='fas fa-check-circle'
                                        style='font-size:30px;color: #ffa727'></i></span></div>
                            <div class="d-inline-block heading_div">
                                <h4 class="et_pb_module_header"><span>2. Profit From Your Vision</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 my_b_column">
                        <div class="d-flex align-items-cente">
                            <div class="d-inline-block"><span><i class='fas fa-check-circle'
                                        style='font-size:30px;color: #ffa727'></i></span></div>
                            <div class="d-inline-block heading_div">
                                <h4 class="et_pb_module_header"><span>3. Achieve The Next Level</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!--why_us_fea_row_in-->
            </div>
            <!--why_us_features_col_out>-->
        </div>
        <!--why_us_features_row_outs-->

    </div>
    <!--outer_row-->
</div>
<!--section3_abuspage-->
<!--Contact Us Section starts from here-->
<div class="container-fluid  contactus_section4 .et_pb_section_1.et_pb_section">
    <div class="row et_pb_row contact_row">
        <div class="col-lg-7">
            <div class="row   page-header" style="margin-left: 20px;">
                <h2 class="contact_main_title">We're Here To Help!</h2>
            </div>
            <div class="container-fluid">

                <div class="row contact_form">
                    <form method="post" action="http://localhost:1313/">
                        <div class="col-"> <label for="fname" class="form_label">Name</label>
                            <input type="text" id="fname" name="firstname" placeholder="Your Name">
                        </div>
                        <div class="col-">
                            <label for="email" class="form_label">Email Address</label>
                            <input type="text" id="lname" name="email" placeholder="Email Address">
                        </div>
                        <label for="Meassage" class="form_label">Message</label>
                        <input type="textarea" id="Meassage" name="Meassage" placeholder="Meassage" rows="4">

                        <button type="submit" name="submit_button" class="button contact_submit_button"
                            role="button">send messages</button>
                    </form>
                </div>

            </div>
            <!--container-->

        </div>
        <!--col-1-->
        <div class="col-lg-5 col-contact-address">
            <div class="row align-items-center justify-content-center add_hrs_row">
                <table class="table Default">
                    <tr>
                        <td><i class='fas fa-map-marker-alt'
                                style="font-size:31px;color:#ffa727;text-align:center;"></i></td>
                        <td><span>
                                <h3 class="con_inner_heading"><span>Office</span></h3>
                            </span>
                            <p>41 George Street St</p>
                        </td>
                    </tr>
                    <tr>
                        <td><i class='fas fa-clock ' style='font-size:29px;color:#ffa727'></i></td>
                        <td><span>
                                <h3 class="con_inner_heading"><span>Hours</span></h3>
                            </span>
                            <p>M-F: Temporary Closed<br>S-S:Closed</p>
                        </td>
                    </tr>
                </table>
            </div>
            <!--inner row-->

        </div>
        <!--col-contact-address-->

    </div>
    <!--grid-container_contactus -->
</div>


{{end}}