{{ define "main" }}
<article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
  {{ .Content }}
</article>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}
label
{
  display:none;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.button_form
{
    color: #ffffff!important;
    border-width: 10px!important;
    border-color: #ffa727;
    border-radius: 100px;
    letter-spacing: 5px;
    font-size: 15px;
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 700!important;
    text-transform: uppercase!important;
    background-color: #ffa727;
    float:right;
}
.contact_us 
{
   padding-top:50px;
   padding-bottom: 50px;
  
}

.my_b_row {
    width: 80%;
    max-width: 1080px;
    margin: auto;
    position: relative;

}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.heading_row
{
  text-align:center;
  align-items:center;
}
.table td, .table th
{
  text-align:left;
  border-top: none !important;

}
.page-header
{
  padding-top:0px;
}
  </style>
  <div class="container-fluid">
    
    <div class="container contact_us">
      
      <div class="row my_b_row">
          <div class="col-lg-6">
            
          <div class="row">
            <table class="table Default">
              <tr>
                  <td><i class='fas fa-map-marker-alt' style="font-size:31px;color:#ffa727;text-align:center;"></i></td><td><span><h3><span>Office</span></h3></span>
                    <p>41 George Street St</p></td>
              </tr>
              <tr>
                <td><i class='fas fa-clock' style='font-size:29px;color:#ffa727'></i></td> <td><span><h3><span>Hours</span></h3>
                </span><p>M-F: Temporary Closed<br>S-S:Closed</p>
                </td>
            </tr>
            </table>
          </div><!--inner row-->
          </div><!--col_first-->
          <div class="col-lg-6">
            <div class="container">
              <div class="page-header"><h2 class="et_pb_contact_main_title">We're Here To Help!</h2></div>
            <form class="needs-validation" novalidate >
              <div class="form-row">
                <div class="col-lg-12">
                  <label for="validationTooltip01">Name</label>
                  <input type="text" class="form-control" id="validationTooltip01" placeholder="First name"  required>
                  <div class="valid-tooltip">
                    Looks good!
                  </div>
                </div>                
              </div>
              <div class="form-row">
                <div class="col-lg-12">
                  <label for="email validationTooltip02">email</label>
                  <input type="text" class="form-control" id="validationTooltip02" placeholder="Email Address"  required>
                  <div class="valid-tooltip">
                    Looks good!
                  </div>
                </div>                
              </div>


                      <div class="form-row">
                           <div class="col-lg-12">
                              <label for="validationDefault03">Message</label>
                              <textarea class="form-control" id="validationDefault03" rows="3" placeholder="Meassge" required></textarea>
                                
                            </div>
                      </div>
                      <div class="form-row">
                        <div class="form=group float-right" >
                            <button type="Button" class="btn button_form " onclick="document.getElementById('myInput').value = ''">Send Message</button>
                        </div>
                    </div>

                
              </form>
            </div>
          </div>
        </div><!--column_2-->
      </div>
  </div>
</div>
{{end}}