{{ define "main" }}

<article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
  {{ .Content }}
  </article>
  <meta charsmy="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <style>
    * {
      box-sizing: border-box;
    }


    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    [class*="col-"]
     {
      float: left;
      padding: 15px;
    }

  @media only screen and (min-width: 600px) {
      /* For tablets: */
      .col-s-1 {width: 8.33%;}
      .col-s-2 {width: 16.66%;}
      .col-s-3 {width: 25%;}
      .col-s-4 {width: 33.33%;}
      .col-s-5 {width: 41.66%;}
      .col-s-6 {width: 50%;}
      .col-s-7 {width: 58.33%;}
      .col-s-8 {width: 66.66%;}
      .col-s-9 {width: 75%;}
      .col-s-10 {width: 83.33%;}
      .col-s-11 {width: 91.66%;}
      .col-s-12 {width: 100%;}
    }
    @media only screen and (min-width: 768px) {
      /* For desktop: */
      .col-1 {width: 8.33%;}
      .col-2 {width: 16.66%;}
      .col-3 {width: 25%;}
      .col-4 {width: 33.33%;}
      .col-5 {width: 41.66%;}
      .col-6 {width: 50%;}
      .col-7 {width: 58.33%;}
      .col-8 {width: 66.66%;}
      .col-9 {width: 75%;}
      .col-10 {width: 83.33%;}
      .col-11 {width: 91.66%;}
      .col-12 {width: 100%;}
    }

    * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media (max-width: 680px)
{
.my_b_row  {
    padding: 0px;
            }
}
@media (max-width: 980px)
{
.my_b_section {
    padding: 50px 0;
            }
}

@media (max-width: 980px)
{
.my_b_column .my_b_module {
    margin-bottom: 30px;
}
}
@media (max-width: 980px)
{
.my_b_fullwidth_section {
    padding: 0;
}}
@media (max-width: 980px)
{
.my_b_column {
    width: 100%;
    margin-bottom: 30px;
}}
@media (min-width: 981px)
{
.et_pb_row {
    padding: 2% 0;
}}
@media only screen and (min-width: 1350px)
{
.et_pb_row {
    padding: 27px 0;
}}
.my_b_section_0.my_b_section {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.my_b_slider .my_b_slide, .my_b_section {
    background-position: center;
    background-size: 100%;
    background-size: cover;
}
.my_b_fullwidth_section {
    padding: 0;
}
.my_b_section {
    position: relative;
    background-color: #FFF;
}
.my_b_column {
    /*float: left;*/
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    min-height: 1px;
}

.my_b_text_0 {
    font-family: 'Open Sans',Helvmyica,Arial,Lucida,sans-serif;
    font-size: 16px;
    line-height: 1.8em;
}
.my_b_text > :last-child {
    padding-bottom: 0;
}
.my_b_text_inner {
    position: relative;
}
h1, h2, h3, h4, h5, h6 {
    color: #333;
    padding-bottom: 10px;
    line-height: 1em;
    font-weight: 500;
    /*text-align:left;*/
    padding-top: 20px;
}
h3 {
    font-size: 22px;
}
p:not(.has-background):last-of-type {
    padding-bottom: 0;
}
.my_b_text_0 h3 {
    font-family: 'Share Tech', Helvmyica,Arial,Lucida,sans-serif;
    font-size: 24px;
    line-height: 1.6em;
}
.my_b_text_0 p {
    line-height: 1.8em;
}
p {
    padding-bottom: 1em;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.my_b_gallery_item, .my_b_portfolio_item, .my_b_blurb_content, .my_b_tabs_controls, .my_b_tab, .my_b_slide_description, .my_b_pricing_heading, .my_b_pricing_content, .my_b_promo_description, .my_b_newslmyter_description, .my_b_counter_title, .my_b_circle_counter, .my_b_number_counter, .my_b_toggle_title, .my_b_toggle_content, .my_b_contact_main_title, .my_b_testimonial_description_inner, .my_b_team_member, .my_b_countdown_timer_container, .my_b_post, .my_b_text, .product, .my_b_widgmy, .my_b_wc_additional_info, .my_b_wc_breadcrumb, .my_b_wc_title, .my_b_wc_stock, .my_b_wc_rating, .my_b_wc_price, .my_b_wc_mmya, .my_b_wc_description, .my_b_wc_add_to_cart {
    word-wrap: break-word;
}
.my_b_text_align_left {
    text-align: left;
}
.my_b_module {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
.my_b_slider .my_b_slide, .my_b_section {
    background-position: center;  
    background-size: cover;
}
.my_b_module.my_b_toggle_0.my_b_toggle {
    border-width: 0px;
}
.my_b_toggle_0.my_b_toggle {
    background-color: #f1f1f1;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    margin-bottom: 8px!important;
}
.my_b_toggle_close {
    background-color: #F4F4F4;
    padding: 20px;
}
.my_b_toggle {
    border: 1px solid #D9D9D9;
}
.my_b_toggle_close h5.my_b_toggle_title, .my_b_toggle_close .my_b_toggle_title {
    color: #666;
}
.my_b_toggle_0.my_b_toggle h5, .my_b_toggle_0.my_b_toggle h1.my_b_toggle_title, .my_b_toggle_0.my_b_toggle h2.my_b_toggle_title, .my_b_toggle_0.my_b_toggle h3.my_b_toggle_title, .my_b_toggle_0.my_b_toggle h4.my_b_toggle_title, .my_b_toggle_0.my_b_toggle h6.my_b_toggle_title {
    font-family: 'Share Tech',Helvmyica,Arial,Lucida,sans-serif;
}
.my_b_accordion .my_b_toggle_title:before, .my_b_toggle .my_b_toggle_title:before {
    right: 0;
    left: auto;
}
.my_b_toggle_title:before {
    content: "\e050";
    position: absolute;
    right: 0;
    font-size: 16px;
    color: #CCC;
    top: 50%;
    margin-top: -0.5em;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.my-b-arrow-prev:before, .my-b-arrow-next:before, .my_b_testimonial:before, .my_b_toggle_title:before, .my_overlay:before, #my_search_icon:before, .mobile_menu_bar:before, .my-social-icon a:before, .my_b_social_icon a.icon:before, .my_b_font_icon:before, .my_audio_container .mejs-playpause-button button:before, .my_audio_container .mejs-volume-button button:before, #my-info-phone:before, #my-info-email:before, .my-cart-info span:before, .my_b_pricing_table_button:after, .my_b_promo_button:after, a.my_b_more_button:after, .my_b_newslmyter_button:after, .comment-reply-link:after, .form-submit .my_b_button:after, .my_b_contact_submit:after, .my_b_contact_resmy:after, .my_password_protected_form .my_submit_button:after, .my_b_button:after, .woocommerce button.single_add_to_cart_button.button:after, .woocommerce a.button.alt:after, .woocommerce-page a.button.alt:after, .woocommerce button.button.alt:after, .woocommerce-page button.button.alt:after, .woocommerce input.button.alt:after, .woocommerce-page input.button.alt:after, .woocommerce #respond input#submit.alt:after, .woocommerce-page #respond input#submit.alt:after, .woocommerce #content input.button.alt:after, .woocommerce-page #content input.button.alt:after, .woocommerce-page a.button:after, .woocommerce button.button:after, .woocommerce-page button.button:after, .woocommerce input.button:after, .woocommerce-page input.button:after, .woocommerce #respond input#submit:after, .woocommerce-page #respond input#submit:after, .woocommerce #content input.button:after, .woocommerce-page #content input.button:after {
    font-family: 'mymodules' !important;    
    font-style: normal;
    font-weight: normal;
    -webkit-font-feature-smytings: normal;
        font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0px 0px;
}
.my_b_accordion.my_b_text_align_left h5.my_b_toggle_title, .my_b_accordion.my_b_text_align_left .my_b_toggle_title, .my_b_accordion .my_b_toggle.my_b_text_align_left h5.my_b_toggle_title, .my_b_accordion .my_b_toggle.my_b_text_align_left .my_b_toggle_title, .my_b_toggle.my_b_text_align_left h5.my_b_toggle_title, .my_b_toggle.my_b_text_align_left .my_b_toggle_title, .my_b_toggle h5.my_b_toggle_title, .my_b_toggle .my_b_toggle_title {
    cursor: pointer;
    position: relative;
    padding: 0 50px 0 0;
}
html, body, div, span, applmy, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldsmy, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;
}
.my_b_posts_nav a, .my_b_row, .my_b_row_inner, .my_b_column, .my_b_module, .my_b_counters .my_b_counter_container, .my_b_portfolio_item, .my_b_pricing_table, .my_b_all_tabs, .my_b_tab, .my_b_slide, .my_b_with_background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.my_b_slider .my_b_slide, ._b_section {
    background-position: center;
    background-size: 100%;
    background-size: cover;
}
div {
    display: block;
}

body {
    font-family: "Prime regular",Arial,sans-serif!important;
    color: black!important;    
    background-color: #fff;
    line-height: 1.7em;
    
    -wemykit-font-smoothing: antialiased;
}

.my_b_blurb_0.my_b_blurb {
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    background-color: #ff8a3d;
    padding-top: 40px!important;
    padding-right: 30px!important;
    padding-bottom: 40px!important;
    padding-left: 30px!important;
    margin-bottom: 0px!important;
}
.my_b_with_border.my_b_blurb_3.my_b_blurb {
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    background-color: #fff;
    border-color: rgba(21,49,78,0.17);
    border-style: solid;  
    padding-top: 40px!important;
    padding-right: 30px!important;
    padding-bottom: 40px!important;
    padding-left: 30px!important;
    margin-bottom: 0px!important;
}

.my_b_button_0 {
    color: #004675!important;
    border-width: 0px!important;    
    border-radius: 0px;
    letter-spacing: 4px;
    font-size: 11px;
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 700!important;
    text-transform: uppercase!important;
    background-color: #f1f1f1;
}
.et_pb_button_1 {
    color: #004675!important;
    border-width: 0px!important;
    border-radius: 0px;
    letter-spacing: 4px;
    font-size: 11px;
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 700!important;
    text-transform: uppercase!important;
    background-color: #f1f1f1;
}
.my_b_button_0_wrapper .my_b_button_0, .my_b_button_0_wrapper .my_b_button_0:hover {
    padding-top: 7px!important;
    padding-right: 20px!important;
    padding-bottom: 20px!important;
    padding-left: 10px!important;
}
.my_b_blurb_1.my_b_blurb {
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    background-color: #f1f1f1;  
    padding-top: 40px!important;
    padding-right: 30px!important;
    padding-bottom: 40px!important;
    padding-left: 30px!important;
    margin-bottom: 0px!important;
}
.my_b_blurb_2.my_b_blurb {
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    background-color: #ffffff;
    border-width: 1px;
    border-color: rgba(21,49,78,0.17);
    border-style: solid;
    padding-top: 40px!important;
    padding-right: 30px!important;
    padding-bottom: 40px!important;
    padding-left: 30px!important;
    margin-bottom: 0px!important;
}
.my_b_blurb_04/*ghgfhjfgj*/
{
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    background-color: #fff;
    border-color: rgba(21,49,78,0.17);
    border-style: solid!important;  
    padding-top: 40px!important;
    padding-right: 30px!important;
    padding-bottom: 40px!important;
    padding-left: 30px!important;
    margin-bottom: 0px!important;
}
.my_b_blurb_4.my_b_blurb {
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    background-color: #15314e;
    padding-top: 40px!important;
    padding-right: 30px!important;
    padding-bottom: 40px!important;
    padding-left: 30px!important;
    margin-bottom: 0px!important;
}
.my_b_blurb_5.my_b_blurb {
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    background-color: #ffa727;
    padding-top: 40px!important;
    padding-right: 30px!important;
    padding-bottom: 40px!important;
    padding-left: 30px!important;
    margin-bottom: 0px!important;
    
}
.my_b_blurb_position_left .my_b_main_blurb_image img, 
.my_b_blurb_position_right .my_b_main_blurb_image img {
    width: inherit!important;
}
.my_b_row {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    position: relative;
    
}
img {
    max-width: 100%!important;
    height: auto!important;
    vertical-align: middle!important;
    border-style: none!important;
}
.my_b_animation_off, .my-waypoint.my_b_animation_off {
    opacity: 1;
}
span{
margin-top:20px;
}
.contactus_section4
{
    background-color: #fff;
}
.table td, .table th
{
  text-align:left;
  border-top: none !important;
}
.contact_row
{
    padding-top: 8%;
    padding-bottom:8%;
}
.et_pb_section_1.et_pb_section {
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 54px;
    padding-left: 0px;
    background-color: #fff;
}
.et_pb_row {
    width: 80%;
    max-width: 1080px;
    margin: auto;
    position: relative;
}
.my_b_blurb_container
{
   padding-top:20px;
}
/*contact us Css*/
.contactus_section4
{
    background-color: #fff;
}   
.et_pb_section_1.et_pb_section {
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 54px;
    padding-left: 0px;
    background-color: #fff;
} 
.contact_row
{
    padding-top: 8%;
    padding-bottom:8%;
}   
.contact_main_title
{
    word-wrap: break-word;
    font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
    font-size: 48px;
} 
form {
    overflow: hidden;
}
 
label {
    float: left;
    width: 200px;
    padding-right: 24px;
}
 
input {
    float: left;
    width: calc(80% - 80px);
}
 
button {
    float: right;
    
}
input[type=text],[type=textarea] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;  
  box-sizing: border-box;
  border-bottom: 1px solid black;
}
.form_label {
    display: none;
}
label
{
	 margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;

}
.contact_submit_button{
    position:relative;
    color: #ffffff!important;
    border-width: 10px!important;
    border-color: #ffa727;
    border-radius: 100px;
    letter-spacing: 5px;
    font-size: 15px;
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 700!important;
    text-transform: uppercase!important;
    background-color: #ffa727;
    border-image: none!important;
    border-style: solid!important;
}
label {
    cursor: default;
}

.contact_form {
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
}

.con_inner_heading{
        font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
        font-size: 24px;
        color: #000000!important;
        line-height: 1.2em;
        font-weight: 400;
    }
.add_hrs_row
{
    padding-top:22%;
}
/*Contact section css ends here*/
.my_b_section_1
{
  padding:54px;
}
.my_b_column
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.my_b_text_0 h3 {
    font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
    font-size: 24px;
    line-height: 1.6em;
    font-weight: 500;
}
.my_b_text_1 h3 {
    font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
    font-size: 24px;
    line-height: 1.6em;
    font-weight: 500;
}
.my_b_text_2 h3 {
    font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
    font-size: 24px;
    line-height: 1.6em;
    font-weight: 500;
}
.my_b_text_3 h3 {
    font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
    font-size: 24px;
    line-height: 1.6em;
    font-weight: 500;
}
.my_b_toggle_title
{

}
.web_service{
  position: relative!important;
  padding: 2% 2% 2% 5% !important;
  }
  .text_class
  {
    font-size: 15px;
    font-weight:400;
  }
  .my_b_toggle_content
  {
    padding: 16px;
  }
  .my_main_toogle
  {
    padding : 10px 10px 10px 10px;
  }
  .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
    </style>
<body>
<div class="container-fluid my_b_section my_b_section_1 my_section_regular">	
  <div class="row my_b_row my_pb_row_0"  >
<div class="col-lg-4 my_b_column my_b_column_1_3 my_b_column_0  my_b_css_mix_blend_mode_passthrough" >
<div class="my_b_module my_b_blurb my_b_blurb_0  my_b_text_align_left  my_b_blurb_position_left my_b_bg_layout_light my_had_animation" 
>
      <div class="row my_b_blurb_content">
        <div class="col-sm-3 my_b_main_blurb_image"><span class="my_b_image_wrap"><img src="
        https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/design-230x230-1.png" 
        alt="" srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/design-230x230-1.png 
        230w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/design-230x230-1-150x150.png 150w" 
        sizes="(max-width: 230px) 100vw, 230px" class="-waypoint my_b_animation_off my-animated"></span></div>
        <div class="col-sm-9 my_b_blurb_container" >
        <h4 class="my_b_module_header" style="color:#fff;"><span>Web Design</span></h4>
    
      </div>
  </div> <!-- .my_b_blurb_content -->
</div> <!-- .my_b_blurb -->
<div class="my_b_button_module_wrapper my_b_button_0_wrapper my_b_module my_had_animation">
<a class="my_b_button my_b_button_0 my_hover_enabled my_b_bg_layout_light" href="#web-design">Learn More</a>
</div>
</div> <!-- .et_pb_column -->
<div class="col-lg-4 my_b_column my_b_column_1_3 my_b_column_1  my_b_css_mix_blend_mode_passthrough">


<div class="my_b_module my_b_blurb my_b_blurb_1  my_b_text_align_left  my_b_blurb_position_left my_b_bg_layout_light my_had_animation" 
>
<div class="row  my_b_blurb_content">
  <div class="col-sm-3 my_b_main_blurb_image"><span class="my_b_image_wrap"><img src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/other-icon-230x230-1.png" 
    alt="" srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/other-icon-230x230-1.png 
    230w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/other-icon-230x230-1-150x150.png 
    150w" sizes="(max-width: 230px) 100vw, 230px" class="my-waypoint my_b_animation_off my-animated"></span></div>
  <div class="col-sm-9 my_b_blurb_container">
    <h4 class="my_b_module_header"><span>Web Developement</span></h4>
    
  </div>
</div> <!-- .my_b_blurb_content -->
</div> <!-- .my_b_blurb -->
<div class="my_b_button_module_wrapper my_b_button_1_wrapper  my_b_module my_had_animation" >
<a class="my_b_button my_b_button_1 my_hover_enabled my_b_bg_layout_light" href="#web-design">Learn More</a>
</div>
</div> <!-- .my_b_column -->
<div class="col-lg-4 my_b_column my_b_column_1_3 my_b_column_2  my_b_css_mix_blend_mode_passthrough my-last-child">
<div class="my_b_with_border  my_b_module my_b_blurb  my_b_blurb_2  my_b_text_align_left  my_b_blurb_position_left 
my_b_bg_layout_light my_had_animation" >
<div class="row my_b_blurb_content">
  <div class="col-sm-3 my_b_main_blurb_image"><span class="my_b_image_wrap"><img src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/maintainace-230x230-1.png" 
    alt="" srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/maintainace-230x230-1.png 
    230w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/maintainace-230x230-1-150x150.png 150w"
     sizes="(max-width: 230px) 100vw, 230px" class="my-waypoint my_b_animation_off my-animated"></span></div>
  <div class="col-sm-9 my_b_blurb_container">
    <h4 class="my_b_module_header"><span>Web Maintenance</span></h4>
    
  </div>
</div> <!-- .my_b_blurb_content -->
</div> <!-- .my_b_blurb -->
<div class="my_b_button_module_wrapper my_b_button_2_wrapper  my_b_module my_had_animation" >
<a class="my_b_button my_b_button_2 my_hover_enabled my_b_bg_layout_light" href="#identity-maintain">Learn More</a>
</div>
</div> <!-- .my_b_column -->
</div> <!-- .my_b_row -->
<div class="row my_b_row my_b_row_1">
<div class="col-lg-4 my_b_column my_b_column_1_4 my_b_column_3  my_b_css_mix_blend_mode_passthrough">
<div class="my_b_with_border my_b_module my_b_blurb  my_b_blurb_04  my_b_text_align_left   
my_b_blurb_position_left my_b_bg_layout_light my_had_animation" style="border-color: rgba(21,49,78,0.17);
border-style: solid!important;">
<div class="row my_b_blurb_content">
  <div class="col-sm-3 my_b_main_blurb_image"><span class="my_b_image_wrap">
    <img src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/graphic-230-230px.png" 
    alt="" srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/graphic-230-230px.png 230w,
     https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/graphic-230-230px-150x150.png 150w" 
     sizes="(max-width: 230px) 100vw, 230px" class="my-waypoint my_b_animation_off my-animated"></span></div>
  <div class="col-sm-9 my_b_blurb_container">
    <h4 class="my_b_module_header"><span>Brand Identity</span></h4>   
  </div>
</div> <!-- .my_b_blurb_content -->
</div> <!-- .my_b_blurb -->
<div class="my_b_button_module_wrapper my_b_button_3_wrapper  my_b_module my_had_animation" >
<a class="my_b_button my_b_button_3 my_hover_enabled my_b_bg_layout_light" href="#identity-maintain">Learn More</a>
</div>
</div> <!-- .my_b_column -->
<div class="col-lg-4 my_b_column my_b_column_1_3 my_b_column_4  my_b_css_mix_blend_mode_passthrough">
<div class="my_b_module my_b_blurb my_b_blurb_4  my_b_text_align_left  my_b_blurb_position_left my_b_bg_layout_dark my_had_animation" >
<div class="row my_b_blurb_content">
  <div class="col-sm-3 my_b_main_blurb_image">
    <span class="my_b_image_wrap"><img src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/mob-and-icon-grey-01-230.png"
       alt="" srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/mob-and-icon-grey-01-230.png 230w,
        https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/mob-and-icon-grey-01-230-150x150.png 150w"
         sizes="(max-width: 230px) 100vw, 230px" class="my-waypoint my_b_animation_off my-animated"></span></div>
  <div class="col-sm-9 my_b_blurb_container">
    <h4 class="my_b_module_header" style="color:#fff;"><span>Mobile Application</span></h4>    
  </div>
</div> <!-- .my_b_blurb_content -->
</div> <!-- .my_b_blurb -->
<div class="my_b_button_module_wrapper my_b_button_4_wrapper  my_b_module my_had_animation" >
<a class="my_b_button my_b_button_4 my_hover_enabled my_b_bg_layout_light" href="#mobile-application">Learn More</a>
</div>
</div> <!-- .my_b_column -->
<div class="col-lg-4 my_b_column my_b_column_1_3 my_b_column_5  my_b_css_mix_blend_mode_passthrough my-last-child">
<div class="my_b_module my_b_blurb my_b_blurb_5  my_b_text_align_left  my_b_blurb_position_left my_b_bg_layout_dark my_had_animation"> 

<div class="row et_pb_blurb_content">
  <div class="col-sm-3 et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/digital-icon-230px.png" 
    alt="" srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/digital-icon-230px.png 230w,
     https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/digital-icon-230px-150x150.png 150w" 
     sizes="(max-width: 230px) 100vw, 230px" class="my-waypoint my_b_animation_off my-animated"></span></div>
  <div class="col-sm-9 my_b_blurb_container">
    <h4 class="my_b_module_header" style="color:#fff;"><span>Digital Marketing</span></h4>    
  </div>
</div> <!-- .my_b_blurb_content -->
</div> <!-- .my_b_blurb -->
<div class="my_b_button_module_wrapper my_b_button_5_wrapper  my_b_module my_had_animation" >
<a class="my_b_button my_b_button_5 my_hover_enabled my_b_bg_layout_light" href="#digital-market">Learn More</a>
</div>
</div> <!-- .my_b_column -->
</div> <!-- .my_b_row -->
</div><!--section_1 ends here-->

<div class="container-fluid my_b_section my_b_section_2 my_section_regular" id="web-design">
    <div class="row my_b_row my_b_row2" id="row_2">
      <div class="col-lg-6 my_b_column my_b_column_1_2 my_pb_column_6 et_pb_css_mix_blend_mode_passthrough">
        <div class="row my_b_row my_b_module et_pb_text my_b_text_0  et_pb_text_align_left et_pb_bg_layout_light">
          <div class="row my_b_row et_pb_text_inner web_services" >
            <h3>Web Services
            </h3>
          </h3>
              <p>We create your online success that helps to grows your business simple and smart.
                We create custom build website, WordPress, E commerce website etc.
                 Maintain the website by manage the updates. backups of&nbsp; the sites</p>
          </div>
          
            <button class="accordion"> <h5 class="my_b_toggle_title text_class">Web design</h5></button>
				<div class=" panel my_b_toggle_content "  id="demo" >
          <p class="text_class">Custom design services are something we do together. Let’s create a digital footprint for your company.</p>
        </div> <!-- .my_b_toggle_content -->
			
      
        <button class="accordion"><h5 class="my_b_toggle_title text_class">Web Development</h5></button>
				<div class="panel my_b_toggle_content "  id="demo" >
          <p class="text_class">Being experts in Web development allows us to create custom-tailored back-end solutions specifically for you. 
          We make WordPress, custom build website&nbsp; for your Business, Simple site administration, integration with analytics.</p>
        </div> <!-- .my_b_toggle_content -->
			
    <!-- <div class="my_main_toogle my_b_module my_b_toggle my_b_toggle_0 my_b_toggle_item my_b_toggle_open"  >-->
      <button class="accordion"><h5 class="my_b_toggle_title">Web Maintaince</h5></button>
				<div class="panel my_b_toggle_content "  id="demo" >
          <p class="text_class">Updates, backups, caching, and malware monitoring are all taken care of when your site is on 5s3s.</p>
        </div> <!-- .my_b_toggle_content -->
			
    </div>
      </div>
      <div class="col-lg-6 col-lg-6 my_b_column my_b_column_1_2 my_pb_column_6 et_pb_css_mix_blend_mode_passthrough">
        <div class="my_b_module my_b_image my_b_image_0">				
				
				<span class="my_b_image_wrap "><img src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/
        2020/04/OAYTMM0.png" alt="" title="" 
        srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/OAYTMM0.png 1200w,
         https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/OAYTMM0-300x200.png 300w, 
         https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/OAYTMM0-1024x683.png 1024w,
          https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/OAYTMM0-768x512.png 768w, 
          https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/OAYTMM0-610x407.png 610w, 
          https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/OAYTMM0-1080x720.png 1080w, 
          https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/OAYTMM0-980x653.png 980w,
           https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/OAYTMM0-480x320.png 480w" 
           sizes="(max-width: 1200px) 100vw, 1200px"></span>
			</div>
      </div>
    </div><!-- row_2  -->
</div><!--section_2-->
<div class="container-fluid ">
  <div class="container my_b_section_3 my_b_section">
  <div class="row my_b_row my_b_row_3">
  <div class="col-lg-6  my_b_column  my_b_column_1_2 my_b_column_8  my_b_css_mix_blend_mode_passthrough">
    <div class="et_pb_module et_pb_image et_pb_image_1">			
				
				<span class="et_pb_image_wrap "><img src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/Our-Graphic-Design-Services_5s3s.png" 
        alt="" title="" 
        srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/Our-Graphic-Design-Services_5s3s.png 572w,
         https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/Our-Graphic-Design-Services_5s3s-300x294.png 300w,
          https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/Our-Graphic-Design-Services_5s3s-480x471.png 
          480w" sizes="(max-width: 572px) 100vw, 572px"></span>
			</div>
  </div><!--col-lg-->
  
  <div class="col-lg-6 my_b_column my_b_column_1_2 my_b_column_8  my_b_css_mix_blend_mode_passthrough">
    <div class="my_b_module  my_b_text  my_b_text_1  my_b_text_align_left my_b_bg_layout_light">			
        <div class="my_b_text_inner" ><h3>Brand Identity </h3></div>
        <div id="toggle_text" style="display: none">
        <p>We will shape a strong brand identity that takes your business to the next level as identity make you unique. 
          Maintain the Websites updates, backups, caching, and malware monitoring are all taken care of when your site is on 5S3S.</p></div>
      </div>
      <div class="my_b_module my_b_toggle my_b_toggle_3 my_b_toggle_item  my_b_toggle_close">					
				<h5 class="my_b_toggle_title">Brand Identity</h5>
				<div class="my_b_toggle_content clearfix"><div>Like your personal identity makes you uniquely you, your brand identity is the special sauce of your business. It’s what shapes your company. 
          How do you shape a strong brand identity that takes your business to the next level? Come with us – 5s3s
        </div></div> <!-- .my_b_toggle_content -->
      </div>
      <div class="my_b_module my_b_toggle my_b_toggle_4 my_b_toggle_item  my_b_toggle_close">	
				
				<h5 class="my_b_toggle_title">Business Card</h5>
				<div class="my_b_toggle_content clearfix"><p>A&nbsp;business card&nbsp;is a piece of your&nbsp;
          company’s marketing plan, and <b>important</b> for making a favorable first impression. 
          An attractive, eye-catching&nbsp;<b>business card</b> with all the relevant contact information can 
          capture the attention of your prospect after your initial meeting.</p></div> <!-- .my_b_toggle_content -->
      </div>
      <div class="my_b_module  my_b_toggle my_b_toggle_5 my_b_toggle_item  my_b_toggle_close">
				
				<h5 class="my_b_toggle_title">Email Design</h5>
				<div class="my_b_toggle_content clearfix"><p>Keep your&nbsp;email&nbsp;on-brand. 
          When your&nbsp;email&nbsp;recipients open your message, they should know the&nbsp;email&nbsp;was
           sent from your&nbsp;company.</p></div> <!-- .my_b_toggle_content -->
			</div>
      
  </div>  
  </div><!--my_b_row-->
</div>
</div><!--my_b_section_3-->
<div id="mobile-application" class="my_b_section my_b_section_4 my_section_regular">					
				
  <div class="row my_b_row my_b_row_4">
<div class="col-lg-6 my_b_column  my_b_column_1_2 my_b_column_10  my_b_css_mix_blend_mode_passthrough">


<div class="my_pb_module my_b_text my_b_text_2  my_b_text_align_left my_b_bg_layout_light">


<div class="my_b_text_inner"><h3>Mobile Applications</h3>
<p>5s3s expert cross-platform developers can create a multi-platform based experience that will meet your user,
   business, industry and/or vertical needs.</p></div>
</div> <!-- .my_b_text --><div class="my_b_module my_b_toggle my_b_toggle_6 my_b_toggle_item  my_b_toggle_close">


<h5 class="my_b_toggle_title">Android</h5>
<div class="my_b_toggle_content clearfix">We create mobile apps that are standalone, client-server, web service driven, 
  or database driven. Our experienced and skilled Android app developers can help you achieve the 
  Android app that meets your enterprise needs and requirements while also looking, feeling and functioning the way you want.
</div> <!-- .my_b_toggle_content -->
</div> <!-- .my_b_toggle -->
<div class="my_b_module my_b_toggle my_b_toggle_7 my_b_toggle_item  my_b_toggle_close">


<h5 class="my_b_toggle_title">iOS</h5>
<div class="my_b_toggle_content clearfix">iOS app developers utilize a comprehensive approach to app development taking into account analysis of the business requirements, design look and feel, user experience and app functionality.</div> <!-- .et_pb_toggle_content -->
</div> <!-- .my_b_toggle --><div class="my_b_module  my_b_toggle  my_b_toggle_8  my_b_toggle_item  my_b_toggle_close">


<h5 class="my_b_toggle_title">Cross Platform</h5>
<div class="my_b_toggle_content clearfix">5s3s expert cross-platform developers 
  can create a multi-platform based experience that will meet your user, business, 
  industry and/or vertical needs.</div> <!-- .my_b_toggle_content -->
</div> <!-- .my_b_toggle -->
</div> <!-- .my_b_column -->
<div class="col-lg-6 my_b_column my_b_column_1_2 my_b_column_11  my_b_css_mix_blend_mode_passthrough et-last-child">


<div class="my_b_module my_b_image my_b_image_2">


<span class="my_b_image_wrap "><img src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/mob-and-ipon-service-01.png" 
  alt="" title="" srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/mob-and-ipon-service-01.png 300w,
  https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/mob-and-ipon-service-01-280x300.png 280w"
   sizes="(max-width: 300px) 100vw, 300px"></span>
</div>
</div> <!-- .my_b_column -->
</div> <!-- .my_b_row -->
</div>  <!--my_b_section_4-->
<div id="digital-market" class="container-fluid my_b_section my_b_section_5 my_b_with_background my_section_regular">
				
<div class="row my_b_row my_b_row_5">
<div class="col-lg-6 my_b_column my_b_column_1_2 my_b_column_12  my_b_css_mix_blend_mode_passthrough">
<div class="my_b_module my_b_image my_b_image_3">
<span class="my_b_image_wrap "><img src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/Online-Marketing.png"
   alt="" title="" srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/Online-Marketing.png
    460w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/Online-Marketing-300x274.png 300w" 
    sizes="(max-width: 460px) 100vw, 460px"></span>
</div>
</div> <!-- .my_b_column -->
<div class="col-lg-6 my_b_column my_b_column_1_2 my_b_column_13  my_b_css_mix_blend_mode_passthrough my-last-child">
<div class="my_b_module my_b_text my_b_text_3  my_b_text_align_left my_b_bg_layout_light">
<div class="my_b_text_inner"><h3>Digital Marketing</h3>
<p><a href="http://www.5s3s.ca">5s3s</a> team always implement the best selection of digital marketing tools tailored for
   your company and your case. Our strategy involves the development of conversion-driven landing pages, search engine optimization, 
   graphic design, content writing, emailing, social media and advertisement campaigns.</p></div>
</div> <!-- .my_b_text -->
<div class="my_b_module my_b_toggle my_b_toggle_9 my_b_toggle_item  my_b_toggle_close">
<h5 class="my_b_toggle_title">Research Niche</h5>
<div class="my_b_toggle_content clearfix">To get the right answer, you have to ask the right questions. 
  The more you understand the business, the market, and the customers, the better you are at creating compelling and 
  impressive websites that lead your business to success. We help to identify the right audience and find the right messages for them.
   Let’s do it together: Customer Profiles, Buyer Personas, Competitor Analysis, Goal Setting, Sales Funnel Creation.</div>
    <!-- .my_b_toggle_content -->
</div> <!-- .my_b_toggle -->
<div class="my_b_module my_b_toggle my_b_toggle_10 my_b_toggle_item  my_b_toggle_close">

<h5 class="my_b_toggle_title">User Engagement</h5>
<div class="my_b_toggle_content clearfix">We know how to build the ideal blend of clean, functional design elements and relevant content
   to make it easy for the right visitors to find and engage with your brand online. We also use social media marketing as an important 
   tool for staying connected with your audience. Our campaigns and graphic content keep your social community engaged and make it grow. 
   Engaging Content, Social Media Campaign, Lead Generation.
  </div> <!-- .my_b_toggle_content -->
</div> <!-- .et_pb_toggle --><div class="my_b_module my_b_toggle my_b_toggle_11 my_b_toggle_item  my_b_toggle_close">


<h5 class="my_b_toggle_title">Conversion Rate optimization</h5>
<div class="my_b_toggle_content clearfix">You can lead a horse to water, but you can’t make it drink.” Well, that’s true, 
  but you can encourage it. By creating your gorgeous and SEO-optimized website, we will make it easy for your customers to buy products,
   register for services and follow a sales funnel that will generate leads with high conversion rates. Let’s turn more visitors into 
   customers! Conversion Tracking &amp; Setup, Landing Page Design, Google Adwords Consulting.
  </div> <!-- .my_b_toggle_content -->
</div> <!-- .my_b_toggle -->
</div> <!-- .my_b_column -->
</div> <!-- .my_b_row -->
</div><!--my_b_section_5-->
<!--Contact Us Section starts from here-->
<div class="container-fluid  contactus_section4 .et_pb_section_1.et_pb_section">
  <div class="row et_pb_row contact_row" >
  <div class="col-lg-7">
      <div class="row   page-header" style="margin-left: 20px;"><h2 class="contact_main_title" >We're Here To Help!</h2></div>
      <div class="container-fluid">
      
        <div class="row contact_form">
          <form method="post" action="http://localhost:1313/">
            <div class="col-"> <label for="fname" class="form_label">Name</label>
                  <input type="text" id="fname" name="firstname" placeholder="Your Name">
                </div>
              <div class="col-">
                <label for="email" class="form_label">Email Address</label>
                <input type="text" id="lname" name="email" placeholder="Email Address">
              </div>
                <label for="Meassage" class="form_label">Message</label>
                <input type="textarea" id="Meassage" name="Meassage" placeholder="Meassage" rows="4">
    
      <button type="submit" name="submit_button" class="button contact_submit_button" role="button">send messages</button>
    </form>
  </div> 
  
      </div>  <!--container-->                                        
  
      </div><!--col-1-->
  <div class="col-lg-5 col-contact-address">
      <div class="row align-items-center justify-content-center add_hrs_row">
          <table class="table Default">
            <tr>
                <td><i class='fas fa-map-marker-alt' style="font-size:31px;color:#ffa727;text-align:center;"></i></td><td><span><h3 class="con_inner_heading"><span>Office</span></h3></span>
                  <p>41 George Street St</p></td> 
            </tr>
            <tr>
              <td><i class='fas fa-clock ' style='font-size:29px;color:#ffa727'></i></td> <td><span><h3 class="con_inner_heading"><span>Hours</span></h3>
              </span><p>M-F: Temporary Closed<br>S-S:Closed</p>
              </td>
          </tr>
          </table>
        </div><!--inner row-->
       
  </div> <!--col-contact-address-->
  
      </div>
      <!--grid-container_contactus -->
    </div>
    <script>
      var acc = document.getElementsByClassName("accordion");
      var i;
      
      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.display === "block") {
            panel.style.display = "none";
          } else {
            panel.style.display = "block";
          }
        });
      }
      </script>
  {{end}}
