{{ define "main" }}
<article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
  {{ .Content }}
</article>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
 <style>
      * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@media (min-width: 360px) and (max-width: 640px) {

    .t_pb_text_inner_p 
        {
                font-size: 50px!important;
                text-align:left;
                color: rgba(0,0,0,0.02)!important;
        }
        .et_pb_text_inner h2 
        {
            font-size: 30px!important;
        }
        p{
        font-size:15px;        
        }
        .et_pb_module_header
        {
            font-size:20px;
        }
        .contact_main_title
        {
            font-size: 25px!important;
        }
            body
            {
                font-size:20px;
                text-align: left;;
            
            }  

}
@media (min-width: 981px)
{
.row {
    padding: 2% 0;
}}
@media (min-width: 768px) and (max-width: 1024px) {

body{font-size:18px;}
p{
        font-size: 18px;
    }
    

}
/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

body{font-size:23px;}

  p{
    font-size: 18px;
    }
    
}
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

p{
  font-size: 18px;
  }
  
}
.et_pb_section_1.et_pb_section {
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 54px;
    padding-left: 0px;
    background-color: #fff;
}
.et_pb_text_0 h2 {
    font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
    font-size: 48px;
    line-height: 1.4em;
}
h1, h2, h3, h4, h5, h6 {
    color: #333;
    padding-bottom: 10px;
    
    line-height: 1em;
    font-weight: 500;
}
form {
    overflow: hidden;
}
 
label {
    float: left;
    width: 200px;
    padding-right: 24px;
}
 
input {
    float: left;
    width: calc(80% - 80px);
}
 
button {
    float: right;
    
}
input[type=text],[type=textarea] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;  
  box-sizing: border-box;
  border-bottom: 1px solid black;
}
.form_label {
    display: none;
}
label
{
	 margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;

}
.contact_submit_button{
    position:relative;
    color: #ffffff!important;
    border-width: 10px!important;
    border-color: #ffa727;
    border-radius: 100px;
    letter-spacing: 5px;
    font-size: 15px;
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 700!important;
    text-transform: uppercase!important;
    background-color: #ffa727;
    border-image: none!important;
    border-style: solid!important;
    
}
label {
    cursor: default;
}

.contact_form {
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
}
.et_pb_text_0.et_pb_text {
    color: rgba(0,0,0,0.02)!important;
}
.et_pb_text_0 {
    font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
    font-size: 100px;
    line-height: 0.2em;
    margin-bottom: 30px!important;
}
.et_pb_module {
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
}
.et_pb_module {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
.et_pb_text_align_left {
    text-align: left;
}
.et_pb_posts_nav a, .et_pb_row, .et_pb_row_inner, .et_pb_column, .et_pb_module, .et_pb_counters .et_pb_counter_container, .et_pb_portfolio_item, .et_pb_pricing_table, .et_pb_all_tabs, .et_pb_tab, .et_pb_slide, .et_pb_with_background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.et_pb_gallery_item, .et_pb_portfolio_item, .et_pb_blurb_content, .et_pb_tabs_controls, .et_pb_tab, .et_pb_slide_description, .et_pb_pricing_heading, .et_pb_pricing_content, .et_pb_promo_description, .et_pb_newsletter_description, .et_pb_counter_title, .et_pb_circle_counter, .et_pb_number_counter, .et_pb_toggle_title, .et_pb_toggle_content, .contact_main_title, .et_pb_testimonial_description_inner, .et_pb_team_member, .et_pb_countdown_timer_container, .et_pb_post, .et_pb_text, .product, .et_pb_widget, .et_pb_wc_additional_info, .et_pb_wc_breadcrumb, .et_pb_wc_title, .et_pb_wc_stock, .et_pb_wc_rating, .et_pb_wc_price, .et_pb_wc_meta, .et_pb_wc_description, .et_pb_wc_add_to_cart {
    word-wrap: break-word;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}
body {
    font-family: "Prime regular",Arial,sans-serif!important;
    color: black!important;
}
body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    line-height: 1.7em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


img {
    max-width: 100%;
    height: auto;
}
img{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /*font-size: 100%;*/
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.et_pb_main_blurb_image {
    display: inline-block;
    margin-bottom: 30px;
    margin-top:20px;
    line-height: 0;
    max-width: 100%;
}
.et_pb_blurb_content {
    max-width: 550px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.et_pb_text_align_center {
    text-align: center;
}
.et_pb_row {
    width: 80%;
    max-width: 1080px;
    margin: auto;
    position: relative;
}
/*****to blur all images*/
.et_pb_blurb_0 .et_pb_main_blurb_image {
    filter: invert(5%) opacity(85%) blur(1px);
}
.et_pb_blurb_1 .et_pb_main_blurb_image {
    filter: invert(5%) opacity(85%) blur(1px);
}
.et_pb_blurb_2 .et_pb_main_blurb_image {
    filter: invert(5%) opacity(85%) blur(1px);
}
.et_pb_blurb_3 .et_pb_main_blurb_image {
    filter: invert(5%) opacity(85%) blur(1px);
}
.et_pb_blurb_4 .et_pb_main_blurb_image {
    filter: invert(5%) opacity(85%) blur(1px);
}
.et_pb_blurb_5 .et_pb_main_blurb_image {
    filter: invert(5%) opacity(85%) blur(1px);
}
.et_pb_blurb_6 .et_pb_main_blurb_image {
    filter: invert(5%) opacity(85%) blur(1px);
}
.et_pb_blurb_7 .et_pb_main_blurb_image {
    filter: invert(5%) opacity(85%) blur(1px);
}
.et_pb_blurb_8 .et_pb_main_blurb_image {
    filter: invert(5%) opacity(85%) blur(1px);
}
.contactus_section4
{
    background-color: #fff;
}
.table td, .table th
{
  text-align:left;
  border-top: none !important;
}
.contact_row
{
    padding-top: 8%;
    padding-bottom:8%;
}
et_pb_text_inner 
{
    position: relative;
    background: transparent;
    display: block;
    
    background-color: #fff;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 0;
    font-family: 'Share Tech', Helvetica, Arial, Lucida, sans-serif;
    font-size: 100px;
    line-height: 0.2em;
    color: rgba(0, 0, 0, 0.02) !important;
    padding-top: 30px;
    height: 40%;
}
.t_pb_text_inner_p
{
    font-size: 100%;
    color: rgba(0,0,0,0.02)!important;
}

.con_inner_heading{
        font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
        font-size: 24px;
        color: #000000!important;
        line-height: 1.2em;
        font-weight: 400;
    }
.add_hrs_row
{
    padding-top:22%;
}
.contact_main_title
{
    word-wrap: break-word;
    font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
    font-size: 48px;
} 
.et_pb_blurb_description p
{
    font-weight: 400!important;
}
  </style>
  <body>    
    <div class="container-fluid  et_pb_section et_pb_section_1 et_section_regular">			
        <div class="row et_pb_row et_pb_row_0">
                <div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">   
    
                 <div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">   
    
                <div class="et_pb_text_inner"><p class="t_pb_text_inner_p" >Our Work</p>
                        <h2>Tune In to Our Work</h2></div>
                </div> <!-- .et_pb_text -->
            </div> <!-- .et_pb_column -->   
            </div> <!-- .et_pb_row -->
        <div class="row et_pb_row et_pb_row_1">
            <div class="col-lg-4 et_pb_column et_pb_column_1_3 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough">    
            <div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_0  et_pb_text_align_center 
             et_pb_blurb_position_top et_pb_bg_layout_light">    
            <div class="et_pb_blurb_content">
                <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/real-estate-03.jpg" alt="" srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/real-estate-03.jpg 1270w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/real-estate-03-300x205.jpg 300w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/real-estate-03-1024x698.jpg 1024w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/real-estate-03-768x524.jpg 768w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/real-estate-03-610x416.jpg 610w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/real-estate-03-1080x736.jpg 1080w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/real-estate-03-980x668.jpg 980w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/real-estate-03-480x327.jpg 480w" sizes="(max-width: 1270px) 100vw, 1270px" class="et-waypoint et_pb_animation_top et-animated"></span></div>
                <div class="et_pb_blurb_container">
                    <h4 class="et_pb_module_header"><span>Real Estate</span></h4>
                    <div class="et_pb_blurb_description"><p>Branding, Web design, Web development</p></div>
                </div>
    </div> <!-- .et_pb_blurb_content -->
            </div> <!-- .et_pb_blurb -->
    <div class="et_pb_module et_pb_divider et_pb_divider_0 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div>
        </div> <!-- .et_pb_column -->
        <div class="col-lg-4 et_pb_column et_pb_column_1_3 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough">  
    
        <div class="et_pb_module et_pb_blurb et_pb_blurb_1  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light">
    
    
    <div class="et_pb_blurb_content">
        <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/volaw-homepage-03.jpg" alt="" srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/volaw-homepage-03.jpg 1198w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/volaw-homepage-03-300x209.jpg 300w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/volaw-homepage-03-1024x714.jpg 1024w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/volaw-homepage-03-768x535.jpg 768w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/volaw-homepage-03-610x425.jpg 610w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/volaw-homepage-03-1080x753.jpg 1080w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/volaw-homepage-03-980x683.jpg 980w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/volaw-homepage-03-480x335.jpg 480w" sizes="(max-width: 1198px) 100vw, 1198px" class="et-waypoint et_pb_animation_top et-animated"></span></div>
        <div class="et_pb_blurb_container">
            <h4 class="et_pb_module_header"><span>Lawyer</span></h4>
            <div class="et_pb_blurb_description"><p>Branding, Web design, Web development</p></div>
        </div>
    </div> <!-- .et_pb_blurb_content -->
</div> <!-- .et_pb_blurb --><div class="et_pb_module et_pb_divider et_pb_divider_1 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div>
</div> <!-- .et_pb_column -->
<div class="col-lg-4 et_pb_column et_pb_column_1_3 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
    
    
    <div class="et_pb_module et_pb_blurb et_pb_blurb_2  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light">
    
    
    <div class="et_pb_blurb_content">
        <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/tv-homepage-808.jpg" alt="" srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/tv-homepage-808.jpg 1168w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/tv-homepage-808-300x208.jpg 300w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/tv-homepage-808-1024x708.jpg 1024w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/tv-homepage-808-768x531.jpg 768w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/tv-homepage-808-610x422.jpg 610w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/tv-homepage-808-1080x747.jpg 1080w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/tv-homepage-808-980x678.jpg 980w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/tv-homepage-808-480x332.jpg 480w" sizes="(max-width: 1168px) 100vw, 1168px" class="et-waypoint et_pb_animation_top et-animated"></span></div>
        <div class="et_pb_blurb_container">
            <h4 class="et_pb_module_header"><span>Construction</span></h4>
            <div class="et_pb_blurb_description"><p>Branding, Web design &amp; development, Digital marketing</p></div>
        </div>
    </div> <!-- .et_pb_blurb_content -->
</div> <!-- .et_pb_blurb --><div class="et_pb_module et_pb_divider et_pb_divider_2 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div>
</div> <!-- .et_pb_column -->
    
    
</div> <!-- .et_pb_row -->
<div class="row et_pb_row et_pb_row_2">
    <div class="col-lg-4 et_pb_column et_pb_column_1_3 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough">   
    
    <div class="et_pb_module et_pb_blurb et_pb_blurb_3  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light">  
    
    <div class="et_pb_blurb_content">
        <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/Home-BalooWorld-902.jpg" alt="" srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/Home-BalooWorld-902.jpg 1180w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/Home-BalooWorld-902-300x229.jpg 300w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/Home-BalooWorld-902-1024x783.jpg 1024w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/Home-BalooWorld-902-768x587.jpg 768w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/Home-BalooWorld-902-610x466.jpg 610w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/Home-BalooWorld-902-1080x826.jpg 1080w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/Home-BalooWorld-902-980x749.jpg 980w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/Home-BalooWorld-902-480x367.jpg 480w" sizes="(max-width: 1180px) 100vw, 1180px" class="et-waypoint et_pb_animation_top et-animated"></span></div>
        <div class="et_pb_blurb_container">
            <h4 class="et_pb_module_header"><span>E-commerce</span></h4>
            <div class="et_pb_blurb_description"><p>Branding, Web design, Web development, Digital Marketing</p></div>
        </div>
    </div> <!-- .et_pb_blurb_content -->
</div> <!-- .et_pb_blurb --><div class="et_pb_module et_pb_divider et_pb_divider_3 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div>
</div> <!-- .et_pb_column -->
<div class="col-lg-4 et_pb_column et_pb_column_1_3 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">  
    
    <div class="et_pb_module et_pb_blurb et_pb_blurb_4  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light"> 
    
    <div class="et_pb_blurb_content">
        <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/le-yen-life-01.jpg" alt="" srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/le-yen-life-01.jpg 1100w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/le-yen-life-01-300x233.jpg 300w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/le-yen-life-01-1024x796.jpg 1024w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/le-yen-life-01-768x597.jpg 768w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/le-yen-life-01-610x474.jpg 610w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/le-yen-life-01-1080x839.jpg 1080w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/le-yen-life-01-980x762.jpg 980w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/le-yen-life-01-480x373.jpg 480w" sizes="(max-width: 1100px) 100vw, 1100px" class="et-waypoint et_pb_animation_top et-animated"></span></div>
        <div class="et_pb_blurb_container">
            <h4 class="et_pb_module_header"><span>Blog</span></h4>
            <div class="et_pb_blurb_description"><p>Branding, Web design, Web development</p></div>
        </div>
    </div> <!-- .et_pb_blurb_content -->
</div> <!-- .et_pb_blurb --><div class="et_pb_module et_pb_divider et_pb_divider_4 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div>
</div> <!-- .et_pb_column -->
<div class="col-lg-4 et_pb_column et_pb_column_1_3 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough et-last-child">  
    
    <div class="et_pb_module et_pb_blurb et_pb_blurb_5  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light">  
    
    <div class="et_pb_blurb_content">
        <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/balooworld-spring-screenshot-01.jpg" alt="" srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/balooworld-spring-screenshot-01.jpg 1110w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/balooworld-spring-screenshot-01-300x231.jpg 300w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/balooworld-spring-screenshot-01-1024x789.jpg 1024w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/balooworld-spring-screenshot-01-768x592.jpg 768w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/balooworld-spring-screenshot-01-610x470.jpg 610w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/balooworld-spring-screenshot-01-1080x832.jpg 1080w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/balooworld-spring-screenshot-01-980x755.jpg 980w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/balooworld-spring-screenshot-01-480x370.jpg 480w" sizes="(max-width: 1110px) 100vw, 1110px" class="et-waypoint et_pb_animation_top et-animated"></span></div>
        <div class="et_pb_blurb_container">
            <h4 class="et_pb_module_header"><span>Ecommerce</span></h4>
            <div class="et_pb_blurb_description"><p>Branding, Web design &amp; development, Digital marketing</p></div>
        </div>
    </div> <!-- .et_pb_blurb_content -->
</div> <!-- .et_pb_blurb --><div class="et_pb_module et_pb_divider et_pb_divider_5 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div>
</div> <!-- .et_pb_column -->   
    
</div> <!-- .et_pb_row -->
<div class="row et_pb_row et_pb_row_3">
    <div class="col-lg-4 et_pb_column et_pb_column_1_3 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough">   
    
    <div class="et_pb_module et_pb_blurb et_pb_blurb_6  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light">  
    
    <div class="et_pb_blurb_content">
        <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/old-5s3s-02.jpg" alt="" srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/old-5s3s-02.jpg 1184w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/old-5s3s-02-300x217.jpg 300w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/old-5s3s-02-1024x739.jpg 1024w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/old-5s3s-02-768x555.jpg 768w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/old-5s3s-02-610x440.jpg 610w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/old-5s3s-02-1080x780.jpg 1080w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/old-5s3s-02-980x708.jpg 980w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/old-5s3s-02-480x347.jpg 480w" sizes="(max-width: 1184px) 100vw, 1184px" class="et-waypoint et_pb_animation_top et-animated"></span></div>
        <div class="et_pb_blurb_container">
            <h4 class="et_pb_module_header"><span>Agency</span></h4>
            <div class="et_pb_blurb_description"><p>Branding, Web design &amp; development, Digital Marketing</p></div>
        </div>
    </div> <!-- .et_pb_blurb_content -->
</div> <!-- .et_pb_blurb --><div class="et_pb_module et_pb_divider et_pb_divider_6 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div>
</div> <!-- .et_pb_column -->
<div class="col-lg-4 et_pb_column et_pb_column_1_3 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough">   
    
    <div class="et_pb_module et_pb_blurb et_pb_blurb_7  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light">
    
    <div class="et_pb_blurb_content">
        <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/landingpagess-12x890-1.jpg" alt="" srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/landingpagess-12x890-1.jpg 1200w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/landingpagess-12x890-1-300x223.jpg 300w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/landingpagess-12x890-1-1024x759.jpg 1024w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/landingpagess-12x890-1-768x570.jpg 768w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/landingpagess-12x890-1-610x452.jpg 610w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/landingpagess-12x890-1-1080x801.jpg 1080w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/landingpagess-12x890-1-980x727.jpg 980w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/landingpagess-12x890-1-480x356.jpg 480w" sizes="(max-width: 1200px) 100vw, 1200px" class="et-waypoint et_pb_animation_top et-animated"></span></div>
        <div class="et_pb_blurb_container">
            <h4 class="et_pb_module_header"><span>Landing Page</span></h4>
            <div class="et_pb_blurb_description"><p>Web design, Web development</p></div>
        </div>
    </div> <!-- .et_pb_blurb_content -->
</div> <!-- .et_pb_blurb --><div class="et_pb_module et_pb_divider et_pb_divider_7 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div>
</div> <!-- .et_pb_column -->
<div class="col-lg-4 et_pb_column et_pb_column_1_3 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough et-last-child">  
    
    <div class="et_pb_module et_pb_blurb et_pb_blurb_8  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light">
    
    <div class="et_pb_blurb_content">
        <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/lucky-game.jpg" alt="" srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/lucky-game.jpg 1183w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/lucky-game-300x217.jpg 300w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/lucky-game-1024x740.jpg 1024w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/lucky-game-768x555.jpg 768w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/lucky-game-610x441.jpg 610w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/lucky-game-1080x781.jpg 1080w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/lucky-game-980x708.jpg 980w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/04/lucky-game-480x347.jpg 480w" sizes="(max-width: 1183px) 100vw, 1183px" class="et-waypoint et_pb_animation_top et-animated"></span></div>
        <div class="et_pb_blurb_container">
            <h4 class="et_pb_module_header"><span>Game App &amp; web</span></h4>
            <div class="et_pb_blurb_description"><p>Cross platform Application, Web design &amp; development</p></div>
        </div>
    </div> <!-- .et_pb_blurb_content -->
</div> <!-- .et_pb_blurb --><div class="et_pb_module et_pb_divider et_pb_divider_8 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div>
</div> <!-- .et_pb_column -->
    
    
</div> <!-- .et_pb_row -->
    
</div>
<div class="container-fluid  contactus_section4 .et_pb_section_1.et_pb_section">
    <div class="row et_pb_row contact_row" >
    <div class="col-lg-7">
        <div class="row   page-header" style="margin-left: 20px;"><h2 class="contact_main_title" >We're Here To Help!</h2></div>
        <div class="container-fluid">
        
          <div class="row contact_form">
            <form method="post" action="http://localhost:1313/">
              <div class="col-"> <label for="fname" class="form_label">Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your Name">
                  </div>
                <div class="col-">
                  <label for="email" class="form_label">Email Address</label>
                  <input type="text" id="lname" name="email" placeholder="Email Address">
                </div>
                  <label for="Meassage" class="form_label">Message</label>
                  <input type="textarea" id="Meassage" name="Meassage" placeholder="Meassage">
      
        <button type="submit" name="submit_button" class="button contact_submit_button" role="button">send messages</button>
      </form>
    </div> 
    
    
        </div>  <!--container-->  
    
        </div><!--col-1-->
    <div class="col-lg-5 col-contact-address">
        <div class="row align-items-center justify-content-center add_hrs_row">
            <table class="table Default">
              <tr>
                  <td><i class='fas fa-map-marker-alt' style="font-size:31px;color:#ffa727;text-align:center;"></i></td><td><span><h3 class="con_inner_heading"><span>Office</span></h3></span>
                    <p>41 George Street St</p></td>
              </tr>
              <tr>
                <td><i class='fas fa-clock' style='font-size:29px;color:#ffa727'></i></td> <td><span><h3 class="con_inner_heading"><span>Hours</span></h3>
                </span><p>M-F: Temporary Closed<br>S-S:Closed</p>
                </td>
            </tr>
            </table>
          </div><!--inner row-->
         
    </div> <!--col-contact-address-->
    
        </div>
        <!--grid-container_contactus -->
      </div>
      </div><!--outer_container-->
      </div>
      <!--contact_us_div-->
    </div>
</div>
  </body>

  {{end}}