{{ define "main" }}
<article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">  
  {{ .Content }}
</article>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

<style>
  body {
      font-family: "Prime regular",Arial,sans-serif!important;
      font-size:20px;
  }
  * {
    box-sizing: border-box;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
 /* [class*="col-"] {
    float: left;
    padding: 15px;

  }*/
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  .body {
    background-color: #fff;
    line-height: 1.7em;
    font-weight: 500;
      font-family: "Prime regular", Arial, sans-serif !important;
  }
  .section1_abus {
    background-color: #fff;
    border: 0;
    outline: 0;

    background-size: cover;
    padding: 50px 0;
    display: block;
    font-family: "Prime regular", Arial, sans-serif !important;
    color: black !important;
    line-height: 1.7em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    
  }

  /*.about_us_div_row {
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    resize: both;
    overflow: auto;
  }*/

  .about_us_col1_first {   
    
    position: relative;
    background: transparent;
    display: block;
    /*vertical-align: baseline;*/
    background: transparent;
    font-family: "Prime regular", Arial, sans-serif !important;
    color: black !important;
    line-height: 1.7em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;

  }

  .abus_content {
    /*vertical-align: baseline;*/
    position: relative;
    background: transparent;
    display: block;
    font-size: 100%;
    background-color: #fff;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 0;
    font-family: 'Share Tech', Helvetica, Arial, Lucida, sans-serif;
    font-size: 100px;
    line-height: 0.2em;
    color: rgba(0, 0, 0, 0.02) !important;
    padding-top: 30px;
    height: 40%;
  }

  .abus_content p {
        margin-top: -29px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .abus_content h2 {
    font-weight: 500;
    color: #333;
    font-family: 'Share Tech', Helvetica, Arial, Lucida, sans-serif;
    font-size: 48px;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-top: -31px;
    margin-block-start: 0px;
    vertical-align: baseline;
    margin-left: 14px;

  }

  .about_us_col1_first_abus_content {
    background-color: #fff;
    margin-top: 0px;
  }

  .abus-col2-con-p {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    background-color: #fff;
    margin-top: 0px;
    padding-top: 0px;
    font-size: 16px;
    line-height: 1.8em;
    word-wrap: break-word;
    
  }

  .abus-col2-con-p p {
    margin-top: 0px;
    padding-top: 0px;
  }

  .about_us_col2 {
    
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    /*background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    resize: both;*/
      }

  .about_us_col2 img {
    margin-top: -100px;
    margin-left:  0px;
    height: 100%;
    width: 100%;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #fff;
    padding: 10px;
  }

  .grid-item {
    background-color: #fff;
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-inner-container {
    display: grid;
    grid-template-columns: auto;
    background-color: #fff;
    padding: 10px;
  }

  .inner-grid-item {
    background-color: #fff;
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-inner-container1 {
    display: grid;
    grid-template-columns: auto;
    background-color: #fff;
    padding: 10px;
  }

  .inner-grid-item1 {
    background-color: #fff;
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-inner-container2 {
    display: grid;
    grid-template-columns: auto;
    background-color: #fff;
    padding: 10px;
  }

  .inner-grid-item2 {
    background-color: #fff;
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-inner-container3 {
    display: grid;
    grid-template-columns: auto;
    background-color: #fff;
    padding: 10px;
  }

  .inner-grid-item3 {
    background-color: #fff;
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-inner-container4 {
    display: grid;
    grid-template-columns: auto;
    background-color: #fff;
    padding: 10px;
  }

  .inner-grid-item4 {
    background-color: #fff;
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-inner-container5 {
    display: grid;
    grid-template-columns: auto;
    background-color: #fff;
    padding: 10px;
  }

  .inner-grid-item5 {
    background-color: #fff;
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-inner-container6 {
    display: grid;
    grid-template-columns: auto;
    background-color: #fff;
    padding: 10px;
  }

  .inner-grid-item6 {
    background-color: #fff;
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .section3_main_div {
   
    background-repeat : no-repeat;
    background-size: cover;
    margin-top: 0px;
    padding-top: 0px;
    font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
    font-size: 100px;
    line-height: 0.2em;
    color: rgba(0,0,0,0.02)!important;
    opacity: 0.9;
    background-image: linear-gradient(140deg,rgba(0,72,114,0.9) 0%,#291160 100%),
    url("https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/it-services-04.jpg");
    
    border-radius : 0 26vw 26vw 0;
      
  }
  .section3_main_div img
  {
    border-radius: 50%;
  }
  .grid-container_5s3s {
    display: grid;
    grid-template-columns: auto  auto;
    color:#fff;
    padding: 10%;
  }

  .grid-item_5s3s {

    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
  .grid-item_5s3s h2
  {
    color:#fff;
  }
  .et_pb_module_header h2 {
    list-style-type: decimal;
    list-style-position: inside;
    padding: 0 0 23px 0;
    color: #fff;
  }

  .grid-container_5s3s ol li {
    list-style-type: decimal;
    list-style-position: inside;
    padding: 0 0 23px 0;
    color: #fff;
  }




/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .section1_abus_col {
    padding: 1% 0% 1% 0%;
}
  .section1_abus
  {
    font-size: 10px;
    font-weight:500;
  }
  .contact_main_title {
    word-wrap: break-word;
    font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
    font-size: 35px;
    }
    .about_us_col1_first
    {
      margin:20px;
    }
    .my2_pb_blurb_description{
      font-size: 16px;
    }  
    .about_us_col2 img {
        margin-top: 0px;
        margin-left: 0px;
        height: 100%;
        width: 100%;
    }
    .abus-col2-con-p p {
          margin-top: 0px;
          padding-top: 0px;
          font-size: 16px;
          font-weight: 400;
          
      }
      .my2_pb_text_inner
      {
        float:left;
      }
    .my2_pb_text_inner p
    {
      font-size: 14px;
      text-align: left!important;
      color: rgba(0,0,0,0.02)!important;
    }
    .my2_pb_text_2 h2 {
    font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
    font-size: 30px;
    line-height: 1.4em;
    text-align:left;
    }
    .my2_pb_column_1_3 h4,
     .my2_pb_column_2_5 h4,
      .my2_pb_column_1_4 h4,
       .my2_pb_column_1_5 h4,
        .my2_pb_column_1_6 h4 {
    font-size: 20px!;
    font-weight:500;
    color: #333;
    padding-bottom: 10px;
    line-height: 1em;
    font-weight: 500;
      }
}
@media (min-width: 360px) and (max-width: 640px) {

  .section1_abus_col {
    padding: 1% 0% 1% 0%;
}
.section1_abus
{
  font-size: 10px;
  font-weight:500;
}
.contact_main_title {
  word-wrap: break-word;
  font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
  font-size: 35px;
  }
  .about_us_col1_first
  {
    margin:20px;
  }
  .my2_pb_blurb_description{
    font-size: 16px;
  }  
  .about_us_col2 img {
      margin-top: 0px;
      margin-left: 0px;
      height: 100%;
      width: 100%;
  }
  .abus-col2-con-p p {
        margin-top: 0px;
        padding-top: 0px;
        font-size: 16px;
        font-weight: 400;          
    }
    .my2_pb_text_inner
    {
      float:left;
    }
  .my2_pb_text_inner p
  {
    font-size: 14px;
    text-align: left!important;
    color: rgba(0,0,0,0.02)!important;
  }
  .my2_pb_text_2 h2 {
  font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
  font-size: 30px;
  line-height: 1.4em;
  text-align:left;
  }
  .abus-col2-con-p p {
        margin-top: 0px;
        padding-top: 0px;
        font-size: 16px;
        font-weight: 400;          
    }
  .my2_pb_column_1_3 h4,
   .my2_pb_column_2_5 h4,
    .my2_pb_column_1_4 h4,
     .my2_pb_column_1_5 h4,
      .my2_pb_column_1_6 h4 {
  font-size: 20px!;
  font-weight:500;
  color: #333;
  padding-bottom: 10px;
  line-height: 1em;
  font-weight: 500;
    }
}
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

body{font-size:18px;}
.section1_abus_col {
    padding: 1% 0% 1% 0%;
}
.about_us_col1_first
{
  margin:20px;
}
.contact_main_title {
    word-wrap: break-word;
    font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
    font-size: 35px;
    }
      p{
        font-size:18px;
        }
    .about_us_main_row {
    margin-left: 46px;
    }
    .about_us_col2 img {
        margin-top: 0px;
        margin-left: 0px;
        height: 100%;
        width: 100%;
    }
    .my2_pb_text_inner p
    {
      font-size: 14px;
      text-align: left!important;
      color: rgba(0,0,0,0.02)!important;
    }
    .my2_pb_text_2 h2 {
    font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
    font-size: 30px;
    line-height: 1.4em;
    text-align:left;
    }
    .my2_pb_column_1_3 h4, .my2_pb_column_2_5 h4, .my2_pb_column_1_4 h4, .my2_pb_column_1_5 h4, .my2_pb_column_1_6 h4 {
    font-size: 18px;
    font-weight:500;
      }
      
}
/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

body{font-size:23px;} 
.about_us_col1_first
 {
   margin:30px;
 }
 p{
        font-size:20px;
    }
    .about_us_main_row {
    margin-left: 46px;
}
}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

body{font-size:20px;}
p{
        font-size:20px;
    }

}
/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

body{font-size:23px;}
.about_us_col1_first
  {
    margin:50px;
  }
  p{
    font-size: 20px;
    }
    .about_us_main_row {
    margin-left: 121px;
  }
  .contact_main_title
    {
    word-wrap: break-word;
    font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
    font-size: 48px;
    } 
}
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

body{
  font-size: 20px;
  }
  .about_us_col1_first
  {
    margin:30px;
  }
}

form {
    overflow: hidden;
}
 
label {
    float: left;
    width: 200px;
    padding-right: 24px;
}
 
input {
    float: left;
    width: calc(80% - 80px);
}
 
button {
    float: right;
    
}
input[type=text],[type=textarea] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}
.form_label {
    display: none;
}
label
{
	 margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;

}
.con_inner_heading{
        font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
        font-size: 24px;
        color: #000000!important;
        line-height: 1.2em;
        font-weight: 400;
    }
.add_hrs_row
{
    padding-top:13%;
}

.contact_submit_button{
    position:relative;
    color: #ffffff!important;
    border-width: 10px!important;
    border-color: #ffa727;
    border-radius: 100px;
    letter-spacing: 5px;
    font-size: 15px;
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 700!important;
    text-transform: uppercase!important;
    background-color: #ffa727;
    border-image: none!important;
    border-style: solid!important;
}


label {
    cursor: default;
}

.contact_form {
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
}
.about_us_main_row
{
    margin-left: 5%;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 2%;
}
.services_div
{
    position: relative;
    background: transparent;
    display: block;
    padding-bottom: 0;
    font-family: 'Share Tech', Helvetica, Arial, Lucida, sans-serif;
    font-size: 100px;
    line-height: 0.2em;
    color: rgba(0, 0, 0, 0.02) !important;
    padding-top: 30px;
}
.services_div h2
{
  font-weight: 500;
    color: #333;
    font-family: 'Share Tech', Helvetica, Arial, Lucida, sans-serif;
    font-size: 48px;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-top: -31px;
    margin-block-start: 0px;
    vertical-align: baseline;
    margin-left: 14px; 
    line-height: 1.4em;
}
.grid_img
{
  display: inline-block;
    margin-bottom: 30px;
    line-height: 0;
    max-width: 100%;
}
img {
    max-width: 100%;
    height: auto;
}

.my2_pb_slider .my2_pb_slide, .my2_pb_section {
    background-position: center;
    background-size: 100%;
    background-size: cover;
}

.my2_pb_main_blurb_image {
    display: inline-block;
    margin-bottom: 30px;
    line-height: 0;
    max-width: 100%;
}
.my2_pb_blurb_content {
    max-width: 550px;
    margin: 0 auto;
    position: relative;
    text-align:left;
}
.my2_pb_gallery_item, .my2_pb_portfolio_item, .my2_pb_blurb_content, .my2_pb_tabs_controls, .my2_pb_tab, .my2_pb_slide_description, .my2_pb_pricing_heading, .my2_pb_pricing_content, .my2_pb_promo_description, .my2_pb_newsletter_description, .my2_pb_counter_title, .my2_pb_circle_counter, .my2_pb_number_counter, .my2_pb_toggle_title, .my2_pb_toggle_content, .my2_pb_contact_main_title, .my2_pb_testimonial_description_inner, .my2_pb_team_member, .my2_pb_countdown_timer_container, .my2_pb_post, .my2_pb_text, .product, .my2_pb_widget, .my2_pb_wc_additional_info, .my2_pb_wc_breadcrumb, .my2_pb_wc_title, .my2_pb_wc_stock, .my2_pb_wc_rating, .my2_pb_wc_price, .my2_pb_wc_meta, .my2_pb_wc_description, .my2_pb_wc_add_to_cart {
    word-wrap: break-word;
}
.my2_pb_blurb_0.my2_pb_blurb {
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    background-color: #ff8a3d;
    padding-top: 40px!important;
    padding-right: 30px!important;
    padding-bottom: 40px!important;
    padding-left: 30px!important;
}
.my2_pb_blurb_1.my2_pb_blurb {
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    background-color: #f1f1f1;
    padding-top: 40px!important;
    padding-right: 30px!important;
    padding-bottom: 40px!important;
    padding-left: 30px!important;
}
.my2_pb_blurb_2.my2_pb_blurb {
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    background-color: #ffffff;
    border-width: 1px;
    border-color: rgba(21,49,78,0.17);
    border-style:solid;
    padding-top: 40px!important;
    padding-right: 30px!important;
    padding-bottom: 40px!important;
    padding-left: 30px!important;
}

.my2_pb_blurb_3.my2_pb_blurb {
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    background-color: #ffffff;
    border-width: 1px;
    border-color: rgba(21,49,78,0.17);
    padding-top: 40px!important;
    padding-right: 30px!important;
    padding-bottom: 40px!important;
    padding-left: 30px!important;
    border-style:solid;
}
.my2_pb_blurb_4.my2_pb_blurb {
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    background-color: rgba(21,49,78,0.61);
    padding-top: 40px!important;
    padding-right: 30px!important;
    padding-bottom: 40px!important;
    padding-left: 30px!important;
}
.my2_pb_blurb_5.my2_pb_blurb {
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    background-color: #ffa727;
    padding-top: 40px!important;
    padding-right: 30px!important;
    padding-bottom: 40px!important;
    padding-left: 30px!important;
}

.my2_pb_row::after
{   
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    width: 0;
    padding: 50px 0;
}
.my2_pb_row_0.my2_pb_row {
    padding-right: 3%!important;
    padding-left: 3%!important;
    padding-right: 3%;
    padding-left: 3%;
}

.my2_pb_row {
    width: 80%;
    max-width: 1080px;
    margin: auto;
    position: relative;
    width: 100%!important;
}

.my2_pb_text_inner p
    {
      font-size: 14px;
      text-align: center;
      color: rgba(0,0,0,0.02)!important;
    }

.my2_pb_text_2 h2 {
    font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
    font-size: 48px;
    line-height: 1.4em;
}
.my2_pb_text_align_center {
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    color: #333;
    padding-bottom: 10px;
    line-height: 1em;
    font-weight: 500;
}
.my2_pb_column_1_3 h4, .my2_pb_column_2_5 h4, .my2_pb_column_1_4 h4, .my2_pb_column_1_5 h4, .my2_pb_column_1_6 h4 {
     font-size: 18px; 
}
.my2_pb_text_2.my2_pb_text {
    color: rgba(0,0,0,0.02)!important;
}
.my2_pb_text_2 {
    font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
    font-size: 100px;
    line-height: 0.2em;
    margin-bottom: 30px!important;
}
 .my2_pb_section {
    position: relative;
    background-color: #FFF;
}
.section1_abus.et_pb_button_0 {
    color: #ffffff!important;
    border-width: 0px!important;
    border-radius: 100px;
    letter-spacing: 5px;
    font-size: 15px;
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 700!important;
    text-transform: uppercase!important;
    background-color: #15314e;
    
}
.button_div
{
  height:54px;
  display: inline-block;
}
/*.button_div:hover{
padding-top: 16px!important;
    padding-right: 32px!important;
    padding-bottom: 16px!important;
    padding-left: 32px!important;
}*/
.et_pb_button_0:after
{
 
    transition: all 300ms ease 0ms;

}
.et_pb_button_0
{
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border: 2px solid;
    line-height: 1.7em !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.3em 1em;
    border-radius: 100px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    background-color: #15314e;
    color:#fff!important;
}
.et_pb_button_0:hover{
    text-decoration: none;
    background-color: #2EA3F2!important;
    color:#fff!important;
}
.section1_abus_col
{
padding: 1% 7% 1% 2%;
}
,contact_main_title
{
    font-weight: 500;
    padding-bottom: 16px;
    position: relative;
    font-family: 'Share Tech',Helvetica,Arial,Lucida,sans-serif;
    font-size: 50px;
    color: #000000!important;
    line-height: 1.2em
}
.contact_us_column
{
  padding-top:5%;
padding-bottom:5%;
}
.table td, .table th
{
  text-align:left;
  border-top: none !important;
  

}
.my_b_posts_nav a,
    .my_b_row,
    .my_b_row_inner,
    .my_b_column,
    .my_b_module,
    .my_b_counters .my_b_counter_container,
    .my_b_portfolio_item,
    .my_b_pricing_table,
    .my_b_all_tabs,
    .my_b_tab,
    .my_b_slide,
    .my_b_with_background {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
.my_b_row {
        width: 100%;
        max-width: 1080px;
        margin: auto;
        position: relative;

    }
.et_pb_module_list, .et_pb_module_header
{
    list-style-type: decimal;
    list-style-position: inside;
    padding: 0 0 23px 0;
    line-height: 26px;
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    
}

</style>
<body>
<div class="container-fluid  section1_abus">
  <div class="row about_us_main_row .my_b_row">
  <div class="row  abus_content .my_b_row ">   
    
        5s3s
        <p></p>
        <h2>About us</h2>        
  </div><!--abus_content-->
  <div class="row about_us_div_row my_b_row">
    <div class="col-lg-6 about_us_col1_first_abus_content abus-col2-con-p section1_abus_col">        
      <p>We are a full house digital branding &amp; Development company providing Branding Services, Social Media
        Marketing, Mobile App, Web Design &amp; Web Development. We assure time-bound services to our customers and
        support them in developing winning strategies for their businesses through innovative technologies. We at
        <a href="http://localhost:1313">5s3s</a> believe in the passion for bringing more digital innovations to
        integrate marketing and branding.
      </p> 
      <div class="row  button_div" >
        <a class="et_pb_button_0 " href="http://www.5s3s.ca/about-us/" target="_blank">learn more</a>
      </div>       
  </div>    
    <div class="col-lg-6 about_us_col2 section1_abus_col2">
      <!--<div class="row  t_us_col2_logo_img" style="position: relative;">   -->        
          <img
            src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2019/02/5s3s-Logo-07.png"
            alt="" title="csd" style="height:auto;width:auto;">
            <!--srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2019/02/5s3s-Logo-07.png 1000w,
             https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2019/02/5s3s-Logo-07-150x150.png 150w, 
             https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2019/02/5s3s-Logo-07-300x300.png 300w,
              https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2019/02/5s3s-Logo-07-768x768.png 768w"
            sizes="(max-width: 1000px) 100vw, 1000px-->
               
      </div>
    </div><!--about_us_div_row-->
  </div>
</div>  <!--section1_abus-->

<div id="services-01" class="containner-fluid my2_pb_section my2_pb_section_2 my2_section_regular" >
				
  <div class="row my2_pb_row my2_pb_row_1">
  <div class="col-lg-12 my2_pb_column my2_pb_column_4_4 my2_pb_column_2  my2_pb_css_mix_blend_mode_passthrough et-last-child">
  
  
  <div class="row my2_pb_module my2_pb_text my2_pb_text_2  my2_pb_text_align_center my2_pb_bg_layout_light">
  
  
  <div class="row my2_pb_text_inner"><p>SERVICES</p></div>
<h2>What We Do</h2></div><!-- .my2_pb_text -->
</div> <!-- .my2_pb_column -->
</div> <!-- .my2_pb_row --> 

<div class="row my2_pb_row my2_pb_row_2" style="margin-bottom: 4%;">
  <div class="col-lg-4 my2_pb_column my2_pb_column_1_3 my2_pb_column_3  my2_pb_css_mix_blend_mode_passthrough">  
  
  <div class="my2_pb_module my2_pb_blurb my2_pb_blurb_0  my2_pb_text_align_left  my2_pb_blurb_position_top my2_pb_bg_layout_dark my2_had_animation" >
  
  
  <div class="my2_pb_blurb_content">
      <div class="my2_pb_main_blurb_image"><span class="my2_pb_image_wrap"><img src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/design-230x230-1.png" alt="" srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/design-230x230-1.png 230w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/design-230x230-1-150x150.png 150w" sizes="(max-width: 230px) 100vw, 230px" class="et-waypoint my2_pb_animation_off et-animated"></span></div>
      <div class="my2_pb_blurb_container">
          <h4 class="my2_pb_module_header"><span>Web Design</span></h4>
          <div class="my2_pb_blurb_description"><p>Custom design services are something we do together. Let’s create a digital footprint for your company.</p></div>
      </div>
  </div> <!-- .my2_pb_blurb_content -->
</div> <!-- .my2_pb_blurb -->
</div> <!-- .my2_pb_column -->
<div class="col-lg-4 my2_pb_column my2_pb_column_1_3 my2_pb_column_4  my2_pb_css_mix_blend_mode_passthrough">  
  
  <div class="my2_pb_module my2_pb_blurb my2_pb_blurb_1  my2_pb_text_align_left  my2_pb_blurb_position_top my2_pb_bg_layout_light my2_had_animation" >
    
  <div class="my2_pb_blurb_content">
      <div class="my2_pb_main_blurb_image"><span class="my2_pb_image_wrap"><img src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/other-icon-230x230-1.png" alt="" srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/other-icon-230x230-1.png 230w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/other-icon-230x230-1-150x150.png 150w" sizes="(max-width: 230px) 100vw, 230px" class="et-waypoint my2_pb_animation_off et-animated"></span></div>
      <div class="my2_pb_blurb_container">  
          <h4 class="my2_pb_module_header"><span>Web Developement</span></h4>
          <div class="my2_pb_blurb_description">5S3S offers the custom website for your business, simple site administration, integration with Analytics &amp; Social Media.</div>
      </div>
  </div> <!-- .my2_pb_blurb_content -->
</div> <!-- .my2_pb_blurb -->
</div> <!-- .my2_pb_column -->
<div class="col-lg-4 my2_pb_column my2_pb_column_1_3 my2_pb_column_5  my2_pb_css_mix_blend_mode_passthrough et-last-child ">   
  
  <div class="my2_pb_with_border my2_pb_module my2_pb_blurb my2_pb_blurb_2  my2_pb_text_align_left  my2_pb_blurb_position_top my2_pb_bg_layout_light my2_had_animation">
     
  <div class="my2_pb_blurb_content">
      <div class="my2_pb_main_blurb_image"><span class="my2_pb_image_wrap"><img src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/maintainace-230x230-1.png" alt="" srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/maintainace-230x230-1.png 230w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/maintainace-230x230-1-150x150.png 150w" sizes="(max-width: 230px) 100vw, 230px" class="et-waypoint my2_pb_animation_off et-animated"></span></div>
      <div class="my2_pb_blurb_container">
          <h4 class="my2_pb_module_header"><span>Web Maintenance</span></h4>
          <div class="my2_pb_blurb_description">Websites updates, backups, caching, and malware monitoring are all taken care of when your site is on 5S3S.</div>
      </div>
  </div> <!-- .my2_pb_blurb_content -->
</div> <!-- .my2_pb_blurb -->
</div> <!-- .my2_pb_column -->
  
  
</div> <!-- .my2_pb_row -->
<div class="row my2_pb_row my2_pb_row_3" style="margin-bottom: 4%;">
  <div class="col-lg-4 my2_pb_column my2_pb_column_1_3 my2_pb_column_6  my2_pb_css_mix_blend_mode_passthrough">   
  
  <div class="my2_pb_with_border my2_pb_module my2_pb_blurb my2_pb_blurb_3  my2_pb_text_align_left  my2_pb_blurb_position_top my2_pb_bg_layout_light my2_had_animation">
     
  <div class="my2_pb_blurb_content">
      <div class="my2_pb_main_blurb_image"><span class="my2_pb_image_wrap"><img src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/graphic-230-230px.png" alt="" srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/graphic-230-230px.png 230w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/graphic-230-230px-150x150.png 150w" sizes="(max-width: 230px) 100vw, 230px" class="et-waypoint my2_pb_animation_off et-animated"></span></div>
      <div class="my2_pb_blurb_container">
          <h4 class="my2_pb_module_header"><span>Brand Identity</span></h4>
          <div class="my2_pb_blurb_description">We will shape a strong brand identity that takes your business to the next level as identity make you unique.</div>
      </div>
  </div> <!-- .my2_pb_blurb_content -->
</div> <!-- .my2_pb_blurb -->
</div> <!-- .my2_pb_column -->
<div class="col-lg-4 my2_pb_column my2_pb_column_1_3 my2_pb_column_7  my2_pb_css_mix_blend_mode_passthrough">   
  
  <div class="my2_pb_module my2_pb_blurb my2_pb_blurb_4  my2_pb_text_align_left  my2_pb_blurb_position_top my2_pb_bg_layout_dark my2_had_animation" >
     
  <div class="my2_pb_blurb_content">
      <div class="my2_pb_main_blurb_image"><span class="my2_pb_image_wrap"><img src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/mob-and-icon-grey-01-230.png" alt="" srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/mob-and-icon-grey-01-230.png 230w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/mob-and-icon-grey-01-230-150x150.png 150w" sizes="(max-width: 230px) 100vw, 230px" class="et-waypoint my2_pb_animation_off et-animated"></span></div>
      <div class="my2_pb_blurb_container">
          <h4 class="my2_pb_module_header"><span>Mobile Application</span></h4>
          <div class="my2_pb_blurb_description">We build custom IOS and Android apps that keep you connected to a large sharing market, interactivity, ease of doing business.</div>
      </div>
  </div> <!-- .my2_pb_blurb_content -->
</div> <!-- .my2_pb_blurb -->
</div> <!-- .my2_pb_column -->
<div class="col-lg-4 my2_pb_column my2_pb_column_1_3 my2_pb_column_8  my2_pb_css_mix_blend_mode_passthrough et-last-child">   
  
  <div class="my2_pb_module my2_pb_blurb my2_pb_blurb_5  my2_pb_text_align_left 
   my2_pb_blurb_position_top my2_pb_bg_layout_dark my2_had_animation" >   
  
  <div class="my2_pb_blurb_content">
      <div class="my2_pb_main_blurb_image"><span class="my2_pb_image_wrap">
          <img src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/digital-icon-230px.png" 
          alt="" srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/digital-icon-230px.png 230w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/digital-icon-230px-150x150.png 150w" sizes="(max-width: 230px) 100vw, 230px" class="et-waypoint my2_pb_animation_off et-animated"></span></div>
      <div class="my2_pb_blurb_container">
          <h4 class="my2_pb_module_header"><span>Digital Marketing</span></h4>
          <div class="my2_pb_blurb_description">From market research and analytics, we provide a full range of digital strategy services to take your online marketing to success.</div>
      </div>
  </div> <!-- .my2_pb_blurb_content -->
</div> <!-- .my2_pb_blurb -->
</div> <!-- .my2_pb_column -->
  
  
</div> <!-- .my2_pb_row -->
  
  
</div><!--e_section2-->

<div class="container-fluid  5S3S_section3">
  <div class="section3_main_div" >
    <div class="row my2_pb_row">
<div class="col-lg-6 list_column_1">
  <div class="grid-container_5s3s">
  <div class="grid-item_5s3s">
        
          <h2 class="et_pb_module_header">5Steps 3Successes</h2>
        
        
          <h2 class="et_pb_module_header">5 STEPS</h2>
          <ol class="et_pb_module_list">
            <li>Tell Us Your Vision</li>
            <li>Discuss Available Options</li>
            <li>Choose The Best Solution</li>
            <li>Define The Steps For Production</li>
            <li>Produce and Deliver The Product</li>
          </ol>
          <h2 class="et_pb_module_header">3 SUCCESSES</h2>
          <ol>
            <li>Draw your Future</li>
            <li>Profit From Your Vision</li>
            <li>Achieve The Next Level</li>
          </ol>      

      </div>
    </div>
    </div><!--list_column-->
    <div class="col-lg-6 list_column_2">
      <div class="grid-item_5s3s">
        <div class="row align-items-center">
          <div class="img_div"><img
              src="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/it-services-03.png"
              alt="" title=""
              srcset="https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/it-services-03.png 540w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/it-services-03-300x300.png 300w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/it-services-03-150x150.png 150w, https://secureservercdn.net/198.71.233.64/01f.9a2.myftpupload.com/wp-content/uploads/2020/03/it-services-03-480x480.png 480w"
              sizes="(max-width: 540px) 100vw, 540px">
          </div>
        </div>
      </div>
    </div>
<!--list_column_2-->
</div>
  </div><!--section3_main_div-->
</div>
<!--Section3 end-->
<div class="container-fluid  contactus_section4">
<div class="row " style="background-color:#fff;">
<div class="col-lg-7  contact_us_column">
    <div class="container">
      <div class="row  align-items-center justify-content-center page-header" style="margin-left: 20px;"><h2 class="contact_main_title" >We're Here To Help!</h2></div>
      <div class="row align-items-center justify-content-center contact_form">
        
        <form method="post" action="http://localhost:1313/">
          <div class="col-"> <label for="fname" class="form_label">Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your Name">
              </div>
            <div class="col-">
              <label for="email" class="form_label">Email Address</label>
              <input type="text" id="lname" name="email" placeholder="Email Address">
            </div>
              <label for="Meassage" class="form_label">Message</label>
              <input type="textarea" id="Meassage" name="Meassage" placeholder="Meassage">
  
    <button type="submit" name="submit_button" class="button contact_submit_button" role="button">send messages</button>
  </form>
</div> 


    </div>  <!--container-->  
            </div><!--col-1-->
       <div class="col-lg-5 col-contact-address contact_us_column">
         
        <div class="row align-items-center justify-content-center add_hrs_row">
          <table class="table Default">
            <tr>
                <td><i class='fas fa-map-marker-alt' style="font-size:31px;color:#ffa727;text-align:center;"></i></td><td><span><h3 class="on_inner_heading"><span>Office</span></h3></span>
                  <p>41 George Street St</p></td>
            </tr>
            <tr>
              <td><i class='fas fa-clock' style='font-size:29px;color:#ffa727'></i></td> <td><span><h3 class="on_inner_heading"><span>Hours</span></h3>
              </span><p>M-F: Temporary Closed<br>S-S:Closed</p>
              </td>
          </tr>
          </table>
        </div><!--inner row-->
        </div> <!--col-contact-address-->

    </div>
    <!--grid-container_contactus -->
  </div>
  </div><!--outer_container-->
  </div>
  <!--contact_us_div--> 
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
{{end}}
